[2012-05-19 14:53] kennethreitz opened #624 "Documentation Translation Guide"

[2012-05-19 17:36] toutouastro commented on #624
Yes we need it because I might translate the documentation to arabic sometime

[2012-05-19 17:37] kennethreitz commented on #624
@toutouastro that would be fantastic!

[2012-05-19 17:37] kennethreitz commented on #624
Japanese is underway: http://ja.python-requests.org

[2012-05-19 18:18] toutouastro commented on #624
The summer break is coming and I'll hack on this project a lot this summer !

[2012-07-10 21:25] edevil opened #713 "Support for "Expects" http header"
It would be nice to have support for the Expect -> 100 Continue flow. This is specially important when we are doing uploads, since we will not need to transfer the whole data before we encounter a 401, for example.

A typical use-case would be a streaming upload, with the data coming from a client and proxied on-the-fly to our destination server. Requests would read the data from the input source

[2012-07-10 21:44] kennethreitz commented on #713
This would be wonderful.

I believe @durin42 has some thoughts about this as well.

[2012-07-14 02:25] durin42 commented on #713
_nod_ We can do this, but it'll be easiest with a rewritten http client library. I've got one that's mostly API compatible with httplib (http://code.google.com/p/httpplus/) that I'm writing as part of my 20% work on Mercurial that we could try.

Note that the flow proposed in the initial bug isn't strictly RFC compliant - you can't wait indefinitely for the response to the Expect: header. You have

[2012-09-07 03:54] slingamn opened #844 "umbrella ticket to resolve iteration / read size / chunked encoding questions"
This ticket is intended to aggregate previous discussion from #539, #589, and #597 about the default value of `chunk_size` used by `iter_content` and `iter_lines`.

cc @mponton @gwrtheyrn @shazow

Issues:

1. The default read size of `iter_content` is 1 byte; this is probably inefficient
1. Requests does not expose the ability to read chunked encoding streams in the "correct" way, i.e., using the

[2012-09-07 07:05] kennethreitz commented on #844
:+1: for `iter_chunks`

[2012-09-07 07:05] kennethreitz commented on #844
@slingamn thanks so much for stepping up with this ;)

[2012-09-07 07:43] mponton commented on #844
I'm not sure using 1024 as the default size for `iter_lines` is appropriate, I think it should be 1 byte. Don't get me wrong, **I KNOW** how bad this is for performance. But I stick with my original reasoning: If someone iterates on `iter_lines`, lines should be processed as soon as they are available and there should be no chance of "hanging" with complete lines in the buffer. The interface is ca

[2012-09-07 15:41] shazow commented on #844
I think I'm missing something but why must `iter_lines` hang when it has complete lines in the buffer? Why can't we scan for completed lines (`\n` or such) and yield it just the same even if we've read less than the default size?

[2012-09-07 15:48] mponton commented on #844
@shazow Because the synchronous network read call will not return until the specified amount of bytes has been read or the stream is closed. Thus, is you use a 1K read size and the server returns lines averaging 100 bytes, you will have to wait for the server to return at least 11 lines before `iter_lines` return any lines and your Python code is executed. If one line is sent every minute, it will

[2012-09-07 15:50] shazow commented on #844
Ah I see what you mean. For some reason I was thinking in local IO terms. Thanks for the clarification!

I wonder if there is any way to do it timeout-based, such that it will read as much as it can in N ms and process, loop.

[2012-09-08 01:17] slingamn commented on #844
@mponton these are good points.

Does anyone know what browsers typically do when reading streaming text data without chunked encoding?

[2012-09-08 04:14] mponton commented on #844
I did a quick test out of curiosity. It seems to depend on the `Content-Type`. For `text/ascii`, each line is printed as it comes in without delay (Safari 6). If content type is unspecified or HTML, the browser waits for the server to close the connection before rendering the content.

In any case, I'm not sure we should compare and try to emulate a browser... We're "stuck" in synchronous I/O land

[2012-09-10 10:36] slingamn commented on #844
I was poking around for something unrelated and there's quite an interesting implementation of a `readline` method inside the `socket` module. I haven't read it in detail yet, but it looks as though it reads byte-at-a-time in some cases and 8kB at a time in others.

It doesn't respect unicode or universal newlines, so we probably can't use it out of the box, but it looks like they put quite a bit

[2012-09-29 19:55] gazpachoking commented on #844
It seems most of the discussion is to do with how iter_lines should work. Is there any reason for iter_content not to have a larger default chunk size? The performance hit was really hard for the 1 byte size before I figured out what was going on.

[2012-10-04 05:58] slingamn commented on #844
There's no reason (at least, for `iter_content`'s own default, as opposed to the default that `iter_lines` uses it with). I've been sort of reluctant to just dive in and try to change it, lest we trigger latent bugs (which is what happened the last time I changed a default).

To be honest, I think the typical use case should just be to read the entire body with the `.content` property. `iter_conte

[2012-10-04 07:55] mponton commented on #844
I had changed back to 10K (original value) in #589 but the travisbot failed the build because one of the unit tests' expected result was not the same with a chunk size > 1 (see https://github.com/kennethreitz/requests/pull/589#issuecomment-5538019 for details).

Kenneth, proceeded to close the issue saying `iter_content` now had a proper size. At the time I thought he had made the changes on his s

[2012-10-04 08:42] piotr-dobrogost commented on #844
@slingamn Could you elaborate on point 3 from your initial list?

[2012-12-10 16:17] jonathanslenders commented on #844
+1 for improving the default performance of iter_content, or at least, in the property Request.content, make sure to call iter_content with a larger chunk size. I think there's no reason for reading in chunks over there...

Edit: sorry. I see this has already been fixed in the latest release. Thanks for that!

[2013-01-23 08:25] Lukasa commented on #844
@slingamn pointed out that there are a few issues here that are still unresolved. Sometime today I'll go through and work out which ones still haven't been done.

[2013-01-23 09:26] slingamn commented on #844
Current status as of v1.1.0:
1. the iter_content read size is still at 1 byte
2. the iter_lines read size has been reduced to 512 bytes (which should help responsiveness)
3. multibyte characters and newlines can still overlap with read boundaries
4. there's an implementation of chunked encoding for outgoing requests, but I'm not sure if there is one for incoming requests (the documentation says so

[2013-01-23 12:41] Lukasa commented on #844
My view:
1. Yeah, probably. Something small-ish though, as we generally expect users who need `iter_content` to specify their own values.
2. I'd call that fixed. =D
3. This has all the hallmarks of being an interesting problem. =) If no-one else does I'll probably take a look at seeing if we can fix this.
4. Again, interesting problem for someone to work on.

[2013-01-23 13:49] sigmavirus24 commented on #713
Since we now have streaming uploads (if I remember correctly) is anyone interested in taking care of this?

[2013-01-23 14:02] durin42 commented on #713
@kennethreitz do you have support for streaming uploads? I've not followed development of requests closely.

[2013-01-23 14:03] kennethreitz commented on #713
@durdin42 yessir! http://docs.python-requests.org/en/latest/user/advanced/#streaming-uploads

[2013-01-23 18:13] Lukasa commented on #713
I haven't really thought about this for any length of time, but is this a Requests-level issue or a urllib3-level issue? Put another way, does it belong in the HTTP Adapter or in urllib3?

[2013-01-23 18:14] kennethreitz commented on #713
I think we can handle it on our end.

[2013-01-23 18:16] durin42 commented on #713
Having looked at this a little this morning, it'll be very challenging to implement fully proper expect header handling, because some servers assume that if you send an expect header you can handle an early response, and can close the socket early in a way that breaks httplib.

That said, you should be able to fix this by waiting ~500ms after you send headers and peeking for a response, and if you

[2013-01-23 18:19] durin42 commented on #713
In particular, if you tried to read from the low_conn.sock() here with a timeout, I think that might be the right jumping-off point:

https://github.com/kennethreitz/requests/blob/master/requests/adapters.py#L185

[2013-01-25 03:59] sigmavirus24 commented on #844
3 is an interesting problem. There is probably a minimum length you might want to consider in those cases, but I'm sure you won't be able to please everyone. Since UTF-8 is on the rise, we could probably use that as a way of deciding on a default length.

[2013-01-26 18:13] sigmavirus24 commented on #713
Ah `time.sleep` the cause of and solution to, all of life's problems.

We could do:

[code]

So we don't degrade performance for other cases, correct?

[2013-01-31 18:02] dmckeone opened #1155 "Add MultiDict Support"
[Comment by Kenneth Reitz](https://github.com/kennethreitz/requests/pull/1103#issuecomment-12370830):

[2013-02-05 19:44] kennethreitz commented on #1155
+1

[2013-02-05 19:46] kennethreitz opened #1167 "push users to stack overflow first"

[2013-02-05 22:51] sigmavirus24 commented on #1167
I already occasionally answer questions tagged with `python-requests` so it wouldn't be a bad place for people to start.

[2013-02-05 22:56] kennethreitz commented on #1167
+1

[2013-02-10 22:56] kennethreitz commented on #844
@slingamn #4's a documentation problem and needs to be corrected.

[2013-02-11 23:22] brandon-rhodes commented on #844
I would like to jump in because it appears that a bit of the above discussion is based upon a false premise: that a synchronous network receive of _n_ bytes will block until at least _n_ bytes are received (or, presumably, the socket has closed).

This is not, in fact, the case, and Unix network programming would be a shambles if it were — think of the disaster that every network program would fac

[2013-02-11 23:28] brandon-rhodes commented on #844
I need to go have dinner, but another quick note that I'll expand on later: there's also no reason that `readline()` should find UTF-8 a challenge, because the pair of bytes `\r\n` look exactly the same in UTF-8 — and since _every byte_ of a multi-byte character in UTF-8 has the high bit set, no multi-byte character or sequence of them could accidentally have `\r\n` sitting inside. So you just nee

[2013-02-11 23:30] Lukasa commented on #844
I doubt we're prepared to ditch httplib (and thus urllib3) over `iter_lines()`.

[2013-02-12 00:18] slingamn commented on #844
@brandon-rhodes thanks very much, this was extremely illuminating.

[2013-02-12 00:32] shazow commented on #844
urllib3 would be very very happy to ditch httplib. https://github.com/shazow/urllib3/issues/58

I'm thinking of trying to find some corporate sponsors for making this happen and diving in (alongside some other high-demand issues).

[2013-02-12 00:33] Lukasa commented on #844
@shazow: I'm all for that! Let me know if you get off the ground with it and I'll do my best to help out.

[2013-02-12 01:10] slingamn commented on #844
So, the implementation of iter_content calls `read` directly:

[code]

So we can presumably just call `recv` directly here, modulo an issue where `self.raw` may be a `CStringIO` instead of a socket if the content was prefetched. This wouldn't require eliminating httplib.

[2013-02-12 03:15] brandon-rhodes commented on #844
@slingamn There is a danger here: once the socket has been wrapped with a file-like object by `makefile()`, there is a chance that the stdio buffering will have read a bit _past_ the end of the first line and, after returning that line to you, will hold in its buffer a good bit of data that lay _after_ the line ending.

Usually this is no problem, as when you next issue `readline()` or `read()` th

[2013-02-12 06:28] mponton commented on #844
@brandon-rhodes `makefile()` is implemented entirely in Python (in 2.7 at least) and is a wrapper around the low-level socket object. It is not a FILE \* object so it has nothing to do with stdio. Its internal buffering is implemented using StringIO. It has a `readline()` method that does exactly what we need (i.e. use `recv()` to get data from the network into a buffer and return immediately when

[2013-02-12 06:44] brandon-rhodes commented on #844
@mponton, you are AWESOME — thank you for stopping me from making this fix more work than was necessary for everyone! My information was outdated. The last time I read `makefile()`, it merely did this with the socket (here I'm quoting from Python 2.3, which happens to be on my hard drive):

[code]

I am VERY happy that the modern `makefile()`, even in Python 2.7, has been spruced up and improved a

[2013-02-12 06:48] brandon-rhodes commented on #844
Oh: and, I'd recommend that Requests go with @mponton's solution here and not worry about whether `httplib` “officially” exposes the object or not; the library at this point has been entombed within amber for more than a decade and I would be surprised, given how much code depends upon its every peculiarity, whether it will ever change again at this point. If Python 3.4 or 3.5 does ever invalidate

[2013-02-12 09:51] slingamn commented on #844
Lots of great food for thought here. I agree with @brandon-rhodes that we should do something like @mponton's patch. It looks like the socket module's implementation of `readline` does exactly what we need, and the use of a non-public interface to get the underlying socket object shouldn't be a serious problem.

The observation about UTF-8 is great too. We may not end up supporting `iter_lines` fo

[2013-02-12 09:54] slingamn commented on #844
@kennethreitz when you say that item 4 [here](https://github.com/kennethreitz/requests/issues/844#issuecomment-12587649) is a documentation issue, do you mean that there is currently no implementation of chunked encoding for incoming requests, and that the documentation needs to be changed to clarify that?

[2013-02-12 16:41] kennethreitz commented on #844
correct

[2013-02-12 17:14] mponton commented on #844
@brandon-rhodes Well, thanks for the kind words! I did not know older versions of Python implemented the file-like object that way. Interesting. Glad they changed it.

@slingamn `line.rstrip()` will remove all newline characters and whitespaces from the right. This could change the lines in an undesirable way for some clients (maybe someone does expect/want right padding whitespace). I wonder if `

[2013-02-12 18:21] shazow commented on #844
Some quick thoughts:
- +1 on just using the unofficial `fp` member. If httplib changes in some Py4, we can adapt (as we will have to anyways). Or bonus points if we drop httplib altogether.
- You can already get access to httplib's `fp` via urllib3. I don't think we need to make it any more "official" than that. Requests and urllib3 releases are pretty well synchronized and I'll make sure Requests

[2013-02-12 19:39] mponton commented on #844
@shazow I guess since `requests` and `urllib3` are such good neighbours (and `requests` packages its own version), there is little benefit to make that official and instead, should `urllib3` internals change later, only `requests` will have to be adapted. I just feel dirty when I have to use `something._xyz` :-)

@slingamn On that previous `rstrip()` comment: I had a brain fart. We can simply spec

[2013-02-12 22:21] slingamn commented on #844
Agreed that ideally `iter_lines` would return strings terminated by the original newline character(s), since that's how the file iterator works. @kennethreitz would this be too big of an API break to introduce?

[2013-02-15 21:34] sigmavirus24 commented on #1155
Should the values be ordered or not? I have no preference, I'm just wondering if others do.

[2013-02-15 21:54] tlong-dev commented on #1155
For what? Headers? Query string?

Typically I would say yes either way. Preserving order does not occlude the un-ordered use case whereas the opposite does.

[2013-02-15 22:41] sigmavirus24 commented on #1155
@xealot yeah, that was my opinion. I have something working currently, but it so minimal that I'm not sure it is covers all the corner cases. .... I'll be pushing it to a branch in my repo tonight.

[2013-02-16 17:05] dmckeone commented on #1155
+1 for ordered support.  The impetus for this feature was discovered when using `werkzeug.datastructures.OrderedMultiDict` with GET/POST parameters, so if ordered support wasn't there it wouldn't hit the use case.

I'm not very familiar with what other MultiDicts are in the Python community, but I think the only thing that is really needed (at least for werkzeug MultiDict) is to pass `items(multi=

[2013-02-19 15:40] sigmavirus24 commented on #1155
https://github.com/sigmavirus24/requests/tree/multidict has the first version of the MultiDict. (I forgot to update this issue a couple days ago). I haven't switched any of the internal logic over to using it, but it observes order. @dmckeone perhaps you could explain the importance of `multi=True`. Maybe it's because I haven't had my coffee yet, but this doesn't look at all obvious as to the reas

[2013-02-19 15:43] tlong-dev commented on #1155
As a thought, would just using the werkzeug toolkit be too much of a requirement to add to requests? All of their data structures are incredibly useful and it would be sad to have to rewrite them.

Or perhaps with permission some of it could be included.

[2013-02-19 15:44] kennethreitz commented on #1155
permission has already been granted, and we've been stealing a number of werkzeug data structures for a while :)

[2013-02-19 15:45] sigmavirus24 commented on #1155
I didn't know we could borrow from them. :) Although this takes all the fun out of it for me :-P

[2013-02-19 17:02] sigmavirus24 commented on #1155
Werkzeug's necessary structures are in `requests/structures.py` on the branch I linked above. They're not used anywhere yet, but I also want to clear up how attribution should be done. I have a note in the doc-strings for both classes, but I'm not entirely certain that is enough.

[2013-02-19 17:23] kennethreitz commented on #1155
it's enough, I've discussed it with armin on multiple occassions

[2013-02-20 14:33] dmckeone commented on #1155
@sigmavirus24: The `multi=True` argument allows not just ordered items in the dictionary, but also multiple keys in the dictionary.  If the `multi=True` argument is not passed, then all duplicate keys are removed when iterating over the the keys/items/values.  It's required for me because I'm working with a legacy system that requires ordered, duplicate GET parmeters.  Something like: http://www.e

[2013-02-20 14:39] sigmavirus24 commented on #1155
Thanks for the concrete example @dmckeone

[2013-02-22 22:28] cythrawll commented on #1155
as I mentioned in the ticket jkbr linked, I think this needs to be case insensitive too for header use ( or a case insensitive version)..  HTTP allows for multiple headers with the same name.

[2013-02-23 17:17] sigmavirus24 commented on #1155
Hm, that sounds appropriate. I have some other stuff to do this weekend, but I'll try and knock some if out tonight.

[2013-03-06 14:02] serpulga commented on #624
How popular is `requests` among the Hispanic community?

[2013-03-06 17:30] kennethreitz commented on #624
Awesome! I cannot wait :)

[2013-03-07 12:44] dmalenko opened #1236 "socket.timeout is thrown instead of requests.exceptions.Timeout"
When *timeout* parameter is used, socket operations can thrown *socket.timeout* exception, which is not converted into *requests.exceptions.Timeout*. This causes users to handle two different types of exceptions, which essentially represent the same error.

Here is corresponding traceback:

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/Users/u/vpytho

[2013-03-07 17:08] serpulga commented on #624
Any advise on how I should start?

[2013-03-07 18:21] qoh commented on #624
I'd be willing to do a Danish translation.

[2013-03-07 19:24] Lukasa commented on #1236
Good spot, I'll take a look at this. =)

[2013-03-08 04:45] kennethreitz commented on #624
Thanks for the all the help, guys!

I created a bunch of repos here: https://github.com/requests

I've created a new 'Translations Team', and added all of you to it. You should be able to push to any of the translation repositories. :)

:sparkles: :cake: :sparkles:

[2013-03-10 00:36] sigmavirus24 commented on #1236
We don't catch this and urllib3 doesn't try to catch and re-throw this error. If anything, the patch should be submitted upstream to urllib3 and then we won't need changes here.

[2013-03-10 10:20] dmalenko commented on #1236
I believe this creates a leaky abstraction: requests intentionally or unintentionally exposes internal implementation details, which erode the value of abstraction layer on top of urllib3.

From practical standpoint this means that one cannot rely on requests providing consistent and well-defined interface. In particular one would have to handle exceptions that can be thrown by urllib3 and below i

[2013-03-19 00:51] serpulga commented on #624
Am I doing it right?
What do I need to do to have the Spanish version published like the Japanese one? (http://ja.python-requests.org)

Thanks

[2013-03-22 05:50] jpaalasm commented on #844
We're handling request errors in our applications in this way:

[code]

This seems to work in all other cases than when an IncompleteRead is raised by httplib (see stacktrace below). Shouldn't IncompleteRead be catched by requests and converted into a RequestException?

File "singleticketprocess.py", line 257, in _post_data
  response = requests.post(url, data, headers=headers, session=_get_sessio

[2013-04-06 14:20] GP89 opened #1294 "Getting errno from an SSLError"
I noticed a couple of issues trying to get the `errno` attribute from an `SSLError`.

Firstly the `errno` attribute is accessed via `err.message.message.errno`, which is a little annoying but more annoyingly, for `ConnectionError` the attribute is accessed via `err.message.reason.errno` which is a problem as an except clause catching `ConnectionErrors` will also catch `SSLError` as it's a subclass

[2013-04-06 14:50] sigmavirus24 commented on #1294
This seems reasonable. I'll take a crack at standardizing the exceptions tonight.

[2013-04-06 14:57] GP89 commented on #1294
Thanks! The bigger issue for me is that the `errno` attribute seems to get lost somehow in the wrapped exception, the differing interface is just a bit of a gotcha.

[2013-04-06 14:58] sigmavirus24 commented on #1294
Yeah. I just figure if we standardize it a bit, I'll find why errno isn't
being properly saved

[2013-04-06 15:04] GP89 commented on #1294
Awesome!

Also something which I noticed, which I guess you probably know about already but might be worth considering is exceptions like these:

`requests.exceptions.SSLError(requests.packages.urllib3.exceptions.SSLError(ssl.SSLError('_ssl.c:488: The handshake operation timed out')))`, `requests.exceptions.SSLError(requests.packages.urllib3.exceptions.SSLError(ssl.SSLError('The read operation tim

[2013-04-06 15:08] sigmavirus24 commented on #1294
So while we could introspect those exceptions, we really only re-wrap
exceptions so that the user doesn't have to do:

[code]

Those errors are strictly rising out of the SSL library being used so their
being re-wrapped as SSLErrors is perfectly valid. What we would rely on is
urllib3 doing the introspection but I doubt @shazow would want that there
either. So that you can consider a "Won't fix" i

[2013-04-15 14:33] ihodes commented on #1155
Is this still an issue? I'll work on it if so, but I'd like to make sure this isn't being fixed/worked on elsewhere.

[2013-04-15 14:50] sigmavirus24 commented on #1155
@ihodes I started working on it [here](https://github.com/sigmavirus24/requests/tree/multidict) but I've been too busy to do much. It needs to be updated with upstream master and more work needs to be done with it. The tricky part is that deciding how best to utilize the multidict in the parameters to the different methods, specifically to things like `params`, `headers`, etc. The former needs to

[2013-04-15 20:58] ihodes commented on #1155
Reading over this thread, it seems as though we should be using werkzeug's OrderedMultiDict in lieu of MultiDict (though apparently there is something like an order of magnitude slowdown from using this, that probably—and this is testable—wouldn't really affect the user experience much) for both headers and params?

[2013-04-15 21:29] sigmavirus24 commented on #1155
How did I miss werkzeug's `OrderedMultiDict`? You sound right, but I'm wary of that slowdown.

[2013-04-15 22:46] dmckeone commented on #1155
@ihodes `OrderedMultiDict` is slower, but in practice I'm not sure that it will matter.  I may be confused about where this is needed throughout all of Requests, but for input the user will make the performance decision.  If I (the user) wish to take the performance hit because I need ordered support, then I will pass requests an `OrderedMultiDict`.  If I don't, then I'll use regular `MultiDict`.

[2013-04-16 03:13] ihodes commented on #1155
@dmckeone that'd be (sort of) ideally how it would work were we to go with this additional datastructures. One issue is that there isn't a consistent API to these structures—we'd need to explicitly dispatch on the type (because we have to pass `multi=True` if the dict is a MultiDict). That's unideal. Also, for the user, constructing these dictionaries is a PITA (in my opinion) and requires importi

[2013-04-16 13:51] sigmavirus24 commented on #1155
So the reason we want the `MultiDict`s underneath everything is so that the users don't have to concern themselves with it. They can always pass it in and conversion _should_ would just fine. We currently accept both dicts and ordered pairs as @ihodes demonstrated and both are (as far as we're concerned under the hood) converted to `OrderedDict`s. The issue is that this doesn't allow for multiple

[2013-04-16 17:00] ihodes commented on #1155
Absolutely agree. I'm not sure what you mean when you say that the params remain ordered if sent in a dict, as they don't currently/can't (I'm sure I'm just not understanding you correctly. e.g. `requests.get("http://localhost:8000", params={2: 1, "a": 2, 1: 3}) # => "GET /?a=2&1=3&2=1/ HTTP/1.1"`).

I guess I'm just not sure the advantage we get over supporting and/or offering thee alternative da

[2013-04-16 17:11] sigmavirus24 commented on #1155
Yes I mis-spoke. I mean as soon as we receive the dict, we convert it and the order is preserved. Presumably if someone's sending a dict they're either aware it won't hold order and that doesn't matter to them, or they don't know and will find out.

Really, when using a `MultiDict` or any variant of it, I don't quite get why one has to call the `items` or `iteritems` method with `multi=True`. That

[2013-04-16 17:19] ihodes commented on #1155
Ah, yeah. Behind the scenes we should use a OrderedMultiDict (but not Wekzeug's, because due to the multi=True issue its API isn't compatible with Requests'). As for how the user can use this feature, either passing params=/headers= an OrderedMultiDict (or dict, or MultiDict, or anything implementing `items :: obj -> [(key, val), .. ]` [don't hate]) or array of tuples should work, yes? (Currently

[2013-04-16 17:33] dmckeone commented on #1155
I'll just throw out a couple crazy ideas here...

### Storage Class

In Flask Armin handled this scenario by making an assumption that seemed to be something like this (I don't know if this is what he thought, but the design seems to indicate this):

This meant that in order to get ordered parameters you had to do:
`app_instance.request_class.parameter_storage_class = ImmutableOrderedMultiDict # D

[2013-04-16 17:59] sigmavirus24 commented on #1155
Right, that's why I said it was "technically" supported, i.e., we don't complain it just doesn't work.

Exactly right. Requests has a much different API, specifically since we promise (since 0.13.x or 0.14.x, and carried over to 1.x) that we'll retain the order of the items received through `params`, `data`, `files`, if we're given them in an manner that already preserves order. Adding that extra

[2013-04-16 18:17] dmckeone commented on #1155
@sigmavirus24 Agree about the MultiDict.items(); it is odd, and I don't know why it's like that.  Not changing the API makes sense too.

So, currently Requests does this (Please feel free to correct me if some of this is wrong):
- `OrderedDict` for everything, instantiated by `from_key_val_list()`
- Multi-value is supported by passing an iterable value
- `merge_kwargs` in `sessions.py` seems to re

[2013-04-16 18:26] sigmavirus24 commented on #1155
The quickest explanation is Amazon.

The next quickest explanation is that when doing `multipart/form-data` requests in some cases (like when interacting with Amazon) the server absolutely requires order be preserved. You could do that (ostensibly) by passing an `OrderedDict` but the old implementation would convert it to a dict and magically all hell would break loose. I see no way in which remov

[2013-04-16 18:33] dmckeone commented on #1155
Just realized something.  I would imagine that `OrderedMultiDict` and `OrderedDict` pay the same performance penalty.  Perhaps it's a non-issue and the first implementation should just go straight to `OrderedMultiDict`?

[2013-04-16 18:34] sigmavirus24 commented on #1155
On a side note, I just browsed through `merge_kwargs` on GitHub and would like to ask anyone who's reading this thread to **please** rewrite the case-insensitive logic in there. It will cause a huge performance hit for a large number of `original_keys`.

Replying to @dmckeone

Yeah I wouldn't mind going directly to `OrderedMultiDict` but like I said, it isn't necessary _everywhere_. ;)

[2013-04-16 18:38] ihodes commented on #1155
Yeah, barring any extreme performance hits (unlikely), it seems like OrderedMultiDict should be the default structure. Users of Requests should be able to pass in lists of tuples, or any sort of dictionary that can be `iteritems`'d over.

This sound right?

[2013-04-16 18:40] sigmavirus24 commented on #1155
Should be `items` because `iteritems` was deprecated in Python 3, but yes!
Exactly. If either of you do this, I will definitely owe you one.

[2013-04-16 18:42] ihodes commented on #1155
Er, yeah, `items` (old habits…)

Okay! I'll take a stab today or tomorrow. And if anything we owe you & @kennethreitz!

[2013-04-16 18:48] sigmavirus24 commented on #1155
Don't forget @Lukasa. He's done and is doing far more than me.

[2013-04-16 18:50] ihodes commented on #1155
(+ @Lukasa!)

[2013-04-17 06:19] akavlie commented on #844
I'm getting the `httplib.IncompleteRead` error on a site when doing a plain `requests.get()` call; I'm not doing anything with iteration or chunked encoding. Is that covered by this ticket, or a different issue altogether?

[2013-04-17 07:19] Lukasa commented on #844
I'm pretty sure you should only get `IncompleteRead` when you or your server uses chunked encoding: are you sure the server isn't?

[2013-04-17 07:26] akavlie commented on #844
@Lukasa not unless it's the default.

Try this:

`requests.get('http://www.stkierans.org/')`

[2013-04-17 07:31] Lukasa commented on #844
Yeah, the server is sending chunked data:

[code]

I haven't had time to dig into httplib right now, and I'm about to go to work, but my guess is that this gets raised if the web server doesn't send the mandatory empty chunk at the end.

[2013-04-17 18:31] Lukasa commented on #844
Yep, so the webserver is at fault here. It's specifying chunked encoding, but sending all of its data back in one chunk. I suggest you contact the administrator of the website and ask why they're doing crazy stuff. =)

[2013-04-17 18:36] Lukasa commented on #844
For what it's worth, you don't really want their content anyway. They're seem to be doing some user-agent sniffing and are returning a placeholder page telling you that your browser doesn't support frames, and that you should upgrade. Frankly, I think that entire website might need an upgrade. =)

[2013-04-17 18:41] Lukasa commented on #844
@akavlie That page is just using frames to hide this page: 'http://www.catholicweb.com/splash/stkierens/'. I'd suggest that you just target that page in Requests, but when I do it I get a 'Connection Reset By Peer'. Which is obnoxious.

[2013-04-17 18:48] Lukasa commented on #844
Ok, so, they're doing user-agent sniffing on that page too, and when they find that we're not a browser they know they're just killing the TCP connection instead of sending a 4XX error. Which is even more obnoxious. You can get your data by using:

[code]

Pretending to be Chrome does it just fine. =)

[2013-04-18 02:00] duailibe commented on #624
@kennethreitz any chance for a Portuguese repository? :)

[2013-04-18 02:00] kennethreitz commented on #624
@duailibe are you volunteering? :)

[2013-04-18 02:01] duailibe commented on #624
@kennethreitz yes! :)

[2013-04-18 02:02] kennethreitz commented on #624
I'm on it!

[2013-04-18 02:06] kennethreitz commented on #624
@duailibe thanks so much! Just push here :) https://github.com/requests/requests-docs-pt

[2013-04-18 02:09] serpulga commented on #624
That's funny. A lot of translating going on, but the translating guide never got written.
I'm basically translating anything under docs/

[2013-04-18 02:10] duailibe commented on #624
@kennethreitz awesome! Thanks! :cake:

[2013-04-18 04:13] dmckeone commented on #1155
Had some time to get [something started](https://github.com/dmckeone/requests/commit/7f8a4d4207a1618f3f2c6e7ca36976e611a1bb6f).  Other than adding all the werkzeug structures (which will need some Python 3 work), it took relatively few changes to get all the tests to pass.  Even added an additional test that is similar to @ihodes example above.

There is probably quite a bit more work to do, but s

[2013-04-18 04:38] ihodes commented on #1155
Hah we just did the exact same thing, sans the test (though I just fiddled with the OrderedMultiDict, setting the multi param's default to `True` in `iteritems` and `items`…). Unfortunately, I messed up something with the copy-paste or something and have been in traceback hell.

I read your changes, and they look like we all agreed on above; why not submit a PR? @sigmavirus24, could you CR this? A

[2013-04-18 04:49] akavlie commented on #844
@Lukasa Thanks for all the digging in... I've seen lots of pointless iframes and other horrible practices on various church sites, so this does not suprise me.

I'm targeting a lot of sites with requests in this application, and specifying overrides for bad behavior like this isn't very realistic at this point.

Is it reasonable to expect Requests to catch and wrap an exception like this? It looke

[2013-04-18 07:13] Lukasa commented on #844
I'll investigate it, but it might be that there are a few cases where this can be thrown. We should be able to wrap it though, either here or in urllib3. =)

[2013-04-18 07:17] Lukasa commented on #1155
If no-one gets around to it before this evening, I might take a look at what Python 3 work needs to be done.

[2013-04-18 08:40] Lukasa commented on #1155
That was a silly promise, I'm at a hackathon this evening. This weekend then.

[2013-04-18 12:36] sigmavirus24 commented on #1155
I looked over @dmckeone changes. I might fork his branch and do some more work on it tonight because I am far better at reviewing code in vim than on GitHub. I tend to miss stuff on the site. But so far it looks fantastic. Thank you @dmckeone :cake: :cake: :beer:

[2013-04-18 14:37] dmckeone commented on #1155
Since everyone seems to like it, I don't mind keeping at it.   @sigmavirus24 if you find anything then let me know, and I'll be happy to add it in.   I'll go fix that test first.  Would you prefer I do a Pull Request after that, or continue changes on this branch as you do CR?

Are there any recommendations for doing performance profiling for Requests?  Is there a benchmark that is commonly used?

[2013-04-18 17:23] omederos commented on #624
@serpulga I'd like to contribute to the Spanish translation too. I see you're doing it now, but I think some things have to be changed, and I'd also like to help you finish the entire translation if you haven't. What should be the procedure?

[2013-04-18 17:43] serpulga commented on #624
Hi @omederos. I think regular git-flow / pull requests would be the way to go.
I think I pushed the one document that was left, and I honestly don't know
what's next. Let's see if we can get some pointers from @kennethreitz  for the
other translators.

Thanks,

Sergio

[2013-04-18 20:13] sigmavirus24 commented on #1155
I just didn't want to overwork you :)

You can start a pull request and then as you push to it just ping me to do more code review. It'll also get @Lukasa and @kennethreitz's attention.

No... but let's make one!

If I remember correctly, those handle the work for `.items` on both. I'm 100% for renaming `iteritems` to `items` though. Also for setting the default for `multi` to `True`. (Like @ihode

[2013-04-18 20:20] ihodes commented on #1155
I'd add that headers should all be case-insensitive. Whether or not you force `lower()` on all keys or maintain a separate case-insensitive key lookup dictionary (as is currently done) is probably worth thinking about (the spec says headers are case-insensitive, but if they're passed with certain capitalization, should we just leave them be?)

ALSO, unfortunately, header order DOES matter (for hea

[2013-04-18 20:24] sigmavirus24 commented on #1155
Yep, I had completely forgotten that.

And here's why I need to go and read all the specs before ever speaking again.
:-P

You two can work this out. There are also plenty of issues I'm sure you could
help with @ihodes. If you want guidance with any of them, let me know. I'll be
happy to point you in the generally correct direction.

[2013-04-18 21:32] dmckeone commented on #1155
I'll continue on with what I have for params, data and files.  I'll do the Pull Request and make sure that data and files are supported as well.

Is requests attempting to have any kind of parity with werkzeug's structures?  While this was a good proof-of-concept to see if MultiDict would work, I don't think its a good idea to change the internal structure of them too much (flipping the default, f

[2013-04-18 21:44] sigmavirus24 commented on #1155
I haven't seen any explicit mention of this. And yes I read Kenneth's blog post but @core is anything except active. (I'd be happy to work on it with them though. :-P) And really I think forcing a brutally sane API is more important especially since we will be exposing these structures to users through `PreparedRequest` and `Response` objects.

The problem with this is trying to catch every single

[2013-04-18 22:02] dmckeone commented on #1155
I will have to think on this a little.  I think most of it can be done with duck typing, so long as the object behaves like the MultiDict we expect.  The question becomes, what do we expect and what does the user expect?  A werkzeug/flask user may expect to pass multi=True, and a non-werkzeug user may expect the opposite.  So either way, someone will lose there.

We can look at that later though.

[2013-04-19 02:14] sigmavirus24 commented on #1155
I might be approaching this naively but I think a good 90-95% of our users are expecting that all of what they pass in as data, files or parameters be consumed, so not using `multi=True` for a default means we have to do type checking to assert that we consume everything.

[2013-04-19 18:57] dmckeone commented on #1155
@sigmavirus24 I added the pull request and came up with a blend that I think gets both of us what we want.  I set all the `multi=False` kwargs to be `multi=True`. However, I don't think it will be too big of an issue for users, because, unless I missed something, the `MultiDict`s are mostly internal to how Requests processes sessions.  The only way you can "see" them is by interrogating body in th

[2013-04-19 19:09] Kwpolska commented on #624
I’d love to help out with Polish.  Requests is awesome and it needs more docs translations.

[2013-04-19 19:13] kennethreitz commented on #624
@Kwpolska all set! Let me know when you have an update so I can make it official :)

https://github.com/requests/requests-docs-pl

Thanks so much :)

[2013-04-20 06:07] jpaalasm commented on #844
@Lukasa It would indeed be great if IncompleteRead was wrapped. Currently, when calling requests.get or requests.post, I need to catch both requests.exceptions.RequestException and httplib.IncompleteRead, which does not make sense. IncompleteRead should be turned into a RequestException or its subclass.

[2013-04-21 13:10] Lukasa commented on #1155
If we _ever_ embed a `MultiDict` in an object the user can get at, e.g. a `PreparedRequest`, this becomes a more significant API change. In particular, right now we enforce the contract that getting headers from any object in Requests will give you a string-to-string dictionary. Changing that is a breaking API change. I think we need to think _really strongly_ about whether that's a good plan.

[2013-04-21 17:23] dmckeone commented on #1155
@Lukasa I took a look through and I believe that my changes to `params=`, `data=`, and `files=` are all safe from an API perspective:
- `PreparedRequest` does not expose `params`, `data` or `files`
- `Session` has a `params` attribute that I initialize to OrderedMultiDict, but it is hidden because it isn't declared in the `__attrs__`
-  `Request` has `params`, `data`, and `files` exposed, but the

[2013-04-21 19:22] sigmavirus24 commented on #1155
@dmckeone I think either you or I am misunderstanding the role of `__attrs__`. As far as I know, it does not hide any information from the user but presents to libraries like `multiprocessing` and `pickle` what they need to properly serialize and reconstruct those objects. So, yes, in fact `params` is entirely exposed to the user. There would be no other point in having it. :)

These were all plan

[2013-04-21 19:53] Lukasa commented on #1155
@sigmavirus24 is correct, `__attrs__` does not limit exposure of those parameters. In particular, `Session.params`, `Request.params`, `Request.data` and `Request.files` are deliberately exposed parts of the API, intended to be used by users.

I think if we're going to make backward-incompatible changes to the API we should do it in one fell swoop. I'm still remembering the less-than-positive initi

[2013-04-21 20:54] dmckeone commented on #1155
@sigmavirus24 @Lukasa Thanks guys.  Mea culpa about the `__attrs__`, you're right.

You may be right (and certainly would be if `headers=` was included), but I believe its only backwards incompatible with the current change if you tried to use assume order or duplicate values, and since that wouldn't be possible in older versions due to the use of `dict`, I don't think it's incompatible in a break

[2013-04-21 21:13] sigmavirus24 commented on #1155
Not a worry @dmckeone . I get confused plenty about stuff too. @Lukasa usually corrects me kindly. :)

I think for the current pull request you can leave out `headers` if you're that uncomfortable with it, but it has to be implemented before the next release.

Part of the documentation will have to include a section about how the `MultiDict` works with respect to `__setattr__` and `__getattr__`. T

[2013-04-21 21:20] Lukasa commented on #1155
Getting stuff wrong in public is basically the definition of OSS development, as far as I can tell. =P I certainly do it enough.

I think my concern primarily applies to changing `headers`. We don't expect `param`, `data` or `files` to be mutated by the library, so the user should get out whatever the hell they put in. However, we mutate `headers` quite a bit. If we change what we do there, it's d

[2013-04-21 22:19] dmckeone commented on #1155
@sigmavirus24 Fully documenting how MultiDict behaves is probably a good idea when we do `headers`.  As far as `headers` goes, I'm not necessarily uncomfortable with the actual work, just the implication of the API change and the associated fallout if it were to be done anything less than perfect.  In that way I like @Lukasa's idea to get consensus first, and do it as part of a unique version numb

[2013-05-02 04:52] cdunklau commented on #1155
Whelp, I just found this thread after commenting a bunch on @dmckeone's open PR, so I'm going to spend some time over the next couple days to try to understand the issues far better before I make additional comments. I mainly wanted to point out that `Session.headers` is a `CaseInsensitiveDict` now after the #1339 merge, just in case the `headers` change is still floating around as an option.

[2013-05-08 16:36] galihmelon commented on #624
Can I volunteer to translate the docs to Indonesian, please?

[2013-05-11 19:49] dmckeone commented on #1155
Since there are a number of pull requests in queue that impact this feature (#1321, #1343, #1338), and the discussion around #1316 created some new requirements, I've withdrawn #1316 in favor of a `MultiDict` that is derived from Werkzeug's `OrderedMultiDict`, but behaves more closely to what requests needs:
- `items()` that returns a list of 2-tuples, including duplicates, with no `multi=True` ke

[2013-05-11 19:52] sigmavirus24 commented on #1155
Take your time. @kennethreitz is in transit so there's no rush. Also, I
wouldn't blame you if you wanted to wait for those other pull requests to be
merged before submitting a new PR. That seems like the most sane thing to do
at the moment in my humble opinion.

[2013-05-11 20:25] dmckeone commented on #1155
@sigmavirus24 That is what I will likely do.  I will begin work on making the required `MultiDict` changes and tests in the next few days and then just rebase everything once those pull requests go in.

[2013-05-11 20:44] sigmavirus24 commented on #1155
@dmckeone there's no need to close this. You can leave it open until your pull is issued & accepted. I don't think any of us mind.

[2013-05-12 08:16] Lukasa commented on #1155
I'm reopening this, just because it provides evidence that this issue is being worked on. Don't want people to get the impression that we gave up or aren't thinking about it. =)

[2013-05-13 15:31] dmckeone commented on #1155
@Lukasa @sigmavirus24 My mistake.  I had closed the PR on purpose, but not this.   Thanks for re-opening.

[2013-05-26 21:10] kevinburke opened #1390 "Async mode seems to have disappeared"
Hey,
I'm trying to find some kind of documentation about how to issue multiple concurrent HTTP requests using this library, but all the Googling and searching I'm doing points to outdated versions of this library. Is there a chance you can add back the docs? Even if they just mention the features are deprecated and point users in the correct location, it's probably useful.

Best,
Kevin

[2013-05-26 21:16] Lukasa commented on #1390
Hi Kevin, thanks for raising this issue!

I'd have to say that [grequests](https://github.com/kennethreitz/grequests) is likely to be the right way to go about this. It might be worth grequests to the documentation, in fact. I'll have a think about it. =)

[2013-05-26 21:21] t-8ch commented on #1390
There is also https://pypi.python.org/pypi/requests-futures/. I haven't used it, so no promises.

[2013-05-26 21:41] kevinburke commented on #1390
Sure... the grequests documentation is fairly lacking though, https://github.com/kennethreitz/grequests

I keep getting an error using grequests with requests version 1.2.2, I'll raise an issue on the other repo.

[2013-05-27 12:27] sigmavirus24 commented on #1390
I'm adding this to my list of documentation changes I'd like to make.

[2013-06-03 09:19] foxx commented on #844
I think https://github.com/shazow/urllib3/issues/190 might possibly be related. I've put an idea in there of how this could be approached.

This ticket is quite a big read, so apologies if this is no longer relevant.

[2013-06-05 21:55] benhoyt commented on #1236
Yep, @dmalenko is right. We're getting this exact issue too (with the same traceback). I _don't_ think it's simply urllib3's fault, because it's requests that's calling `urllib3.Response.read()` and not handling errors around that call.

Arguably urllib3 should handle socket.timeout or other errors too, and convert them to a urllib3.TimeoutError. But even if it did that, requests would still need

[2013-06-06 08:38] Lukasa commented on #1236
@benhoyt We're in total agreement. I had this assigned to me but haven't had time to do anything about it, and won't do for a few weeks. We're open to a Pull Request if you'd like to write one, otherwise this is unlikely to happen in the next couple of weeks.

[2013-06-08 10:13] Lukasa commented on #1390
I've added mentions of grequests and requests-futures to the documentation in #1413. Let me know if this is not sufficient. =)

[2013-06-13 19:36] miikka commented on #1236
I looked into this a bit. I didn't get too far, but I'll note my observations for the benefit of others. [The documentation](http://docs.python-requests.org/en/latest/user/quickstart/#timeouts) says:

As seen here, it's not true. In @dmalenko's case, the connection is opened and the headers are sent fast enough, but the server sends data so slowly that recv timeouts. The same thing happens with `i

[2013-06-13 20:45] psushin opened #1422 "Connection timeout doesn't work for chunked-encoded request"
Sample code:

    def gen():
        for i in xrange(1, 1000):
            yield 'x'
    import requests, datetime

    print datetime.datetime.now()

    try: requests.post(url='http://1.1.1.1', timeout=5, data=gen())
    except Exception as e: print e

    print datetime.datetime.now()

    try: requests.post(url='http://1.1.1.1', timeout=5, data='a')
    except Exception as e: print e

    prin

[2013-06-13 21:22] benhoyt commented on #1236
Thanks, @miikka. I notice that part of the documentation is inside a "Note:" -- to me it looks like that's basically an implementation detail. I'd think when I specify a timeout I want it to be a timeout on the whole thing, so maybe in this case the documentation can simply be changed to match reality?

Note that I don't think the above affects the issue in any way -- we still want this to be a `r

[2013-06-14 08:15] Lukasa commented on #1422
Thanks for opening this issue!

Looking at the Requests code, I suspect you might be right. I'm at work at the moment and won't have internet at home until the 18th, but when I can get time I'll investigate this.

To begin with, I think the problem is around [here](https://github.com/kennethreitz/requests/blob/master/requests/adapters.py#L300). For chunked uploads, we do this:

[code]

The only pl

[2013-06-14 08:18] Lukasa commented on #1236
Yeah @miikka, you're right, it isn't true. Sometimes.

We confusingly use `timeout` in two different ways. For non-chunked requests, we use `timeout` as a parameter on the underlying HTTP connection, which applies it just as httplib would. For chunked uploads, we use it as a timeout on getting the connection from the connection pool, and then apply no timeout to the connection itself (see #1422).

[2013-06-30 03:32] sigmavirus24 commented on #1294
@kennethreitz @Lukasa @GP89 is there any interest in this issue any longer? I'm not keen on the solution I had started to work out and the issue wasn't really ours in the first place as can be seen by the discussion on e4e7eb8

[2013-06-30 07:15] Lukasa commented on #1294
I view this as a "Wouldn't It Be Nice If" issue. I'm happy to leave it open and mark it 'Contributor Friendly'.

[2013-06-30 15:46] sigmavirus24 commented on #1294
I don't mind "flattening" the exceptions but I want to spend my limited spare time on items that aren't on the fence. I'm sure there is value to not having XError(YError(ZError(...),...),...) But we'd need to have a way of accessing those.

[2013-07-18 09:44] edevil commented on #713
Any progress on this?

[2013-07-18 10:35] Lukasa commented on #713
@edevil Nope. Feel free to pick it up if you want something to hack on. =)

[2013-07-20 16:14] Lukasa commented on #1294
Hmm. I think the only way to do this in any sensible way is, each time we raise an exception, to grab the string error and the errno explicitly. Otherwise the exceptions themselves know way too much about the things they're wrapping.  The issue there is that we become very, very brittle against upstream changes (e.g. in urllib3).

[2013-07-20 16:39] Lukasa commented on #1294
Ugh, this is a nightmare to do cleanly. Our mapping of exceptions isn't 1:1, so not all the exceptions we wrap have the same interface. =(

[2013-07-31 00:16] aseemk commented on #713
I don't have the Python/requests/httplib proficiency to do this, but as a user and big fan of HTTPie, I'd love to see this implemented. =) Thanks for the consideration, and good luck with the implementation!

[2013-07-31 01:51] sigmavirus24 commented on #713
So I'm starting to wonder if this is entirely an adapter-level change. I hadn't thought much about this, but I think it would be easiest and make the most sense to be on the adapter level. My reasoning why:
- The adapter handles the connection details
- The adapter returns a response object not a partial response object
- The session expects a response and so the fact that we'd have to handle a no

[2013-08-27 22:38] piotr-dobrogost opened #1558 "Make instances of PreparedRequest class pickable"
See [How can I save a python HTTP requests from python-requets so I can execute it later?](http://stackoverflow.com/q/18462749/95735) question on Stack Overflow.

[2013-08-28 02:12] sigmavirus24 commented on #1558
Is that the only remaining class that isn't Pickleable? If so, I'll work on it for 2.0.

[2013-08-28 07:37] Lukasa commented on #1558
Looks like it might be. I'd love this in 2.0. =)

[2013-08-28 11:23] ssbarnea commented on #1558
:+1: If we make a patch for the current version, would you accept it? -- I want to improve the python-jira library without having to use a non-released version of requests.

[2013-08-28 11:34] Lukasa commented on #1558
@ssbarnea To the best of my knowledge we have no plans to release any further 1.2.X point releases. The next planned release is 2.0.0. I'm potentially open to you making a patch against master, but I'd want to check with @kennethreitz first.

[2013-08-28 12:09] kennethreitz commented on #1558
Go for it

[code]

Kenneth Reitz

On Wed, Aug 28, 2013 at 7:34 AM, Cory Benfield notifications@github.com
wrote:

[2013-08-28 13:25] Lukasa commented on #1558
Sweet, feel free to patch against master then. =)

[2013-08-30 14:43] magicjin opened #1561 "Header keys lose their case"
it seems that there is a bug in response.headers.

for example, code below:

[code]

it will display as:

[code]

but actually the headers should be:

[code]

because the code comments said:

[code]

at file structures.py line 72.

[2013-08-30 15:06] Lukasa commented on #1561
Hmm, this is a puzzling one. I see the same behaviour as you, plus this oddity:

[code]

I wonder if urllib3 is lowercasing these.

[2013-08-30 15:10] Lukasa commented on #1561
It does. See [L244 of urllib3/response.py](https://github.com/shazow/urllib3/blob/master/urllib3/response.py#L244). I'm not totally convinced this is a bug. For the purposes of the comment, the phrase "the actual key" should more correctly read "the key that was added to the dictionary". The CID is functioning as intended.

@sigmavirus24, I don't feel like urllib3 is doing the wrong thing here. Do

[2013-08-30 21:17] sigmavirus24 commented on #1561
It's been doing that for over a year so I would guess that this is perfectly fine otherwise we would have run into issues much sooner. In other words @Lukasa, I agree with you.

[2013-08-31 01:00] magicjin commented on #1561
the reason why I report this bug is that I want to write a proxy based on web page, user directly input the URL in the site and web server fetch the page for user, this require the web server return the same headers back to user which get from remote server, of course, I can uppercase the header name by myself, just want to see if we can do this in requests library.

[2013-08-31 01:44] sigmavirus24 commented on #1561
Well I can confirm one thing: This is not something requests will do for you. We specifically wrap the headers in a case insensitive dictionary. We have no need for the headers to come back cased as they are sent and most of our users don't need them that way either.

[2013-08-31 04:08] kennethreitz commented on #1561
I consider this a bug. Traditionally, requests preserved the server's casing. I'm not sure what happened.

[2013-08-31 05:49] Lukasa commented on #1561
@kennethreitz Looks like urllib3 changed its behaviour. I'll see if we can fix it up upstream.

[2013-08-31 14:46] sigmavirus24 commented on #1561
@Lukasa, if you look at the blame on that file though, the change was a year ago. Something quite possibly may have changed but it isn't on that line of that file. It is probably somewhere else and in a change far more recent.

[2013-08-31 14:47] Lukasa commented on #1561
I'm not convinced we haven't been doing this wrong for a while. The change is definitely in urllib3: take a look at the headers on the urllib3 response. =)

[2013-09-01 17:21] Lukasa commented on #1561
This bug will probably stay open a little while until we can sort something out in shazow/urllib3#236, so I renamed it to a clear statement of the symptoms. That way, hopefully, we won't get too many reopens of this issue. =D

[2013-09-01 18:00] Lukasa commented on #1558
Ok, looking at this again we don't currently make any of the trio of `Request`, `PreparedRequest` and `Response` pickleable. `Response` is potentially difficult to pickle (file descriptors, underlying urllib3 response object isn't pickleable), but the other two are the things worth making pickleable anyway. We should shoot for both of them I think.

[2013-09-01 18:16] sigmavirus24 commented on #1558
I'm not (quite frankly) convinced that a `Request` object should be entirely pickleable. It is an ephemeral object that we use to construct the `PreparedRequest`. `PreparedRequest` objects do not store a reference to it, so I'm 90% sure it does not need to be pickleable. We should probably make it pickleable anyway though it is a seriously minor introduction of code and it will cover us for the fu

[2013-09-01 18:16] Lukasa commented on #1558
The biggest issue with pickling `PreparedRequest`s is pickling hooks. We could be super-clever and try to pickle the function objects but I'm not convinced that's a great plan. Alternative suggestions?

[2013-09-01 18:27] sigmavirus24 commented on #844
Are there any updates on this? Can we close this out since there hasn't been much recent activity on it?

[2013-09-01 19:19] shazow commented on #1558
Hrm, yea not sure if it makes a lot of sense. Especially since the Response object has a lot of state within it, state which is network-dependent too (is the socket still open? has the body been read? etc).

What would it take to make urllib3's Response object pickleable?

[2013-09-01 22:23] ssbarnea commented on #1558
Maybe I should explain better what I want to achieve and hopefully we will
find the best wait to implement it.

I want to save issue.update requests so I can  call them later. Why? Two
reasons: speed and reliability, Jira may be down for a while and I cannot
implement retry in all the scripts but I could save failed requests for
later execution via a cron job. If this behaviour could be enabled wi

[2013-09-01 22:27] shazow commented on #1558
I think it's reasonable to have `PreparedRequest` be pickleable without the rest. Sounds like a sensible edge case to me.

[2013-09-02 18:03] sigmavirus24 opened #1570 "Handle multiple TLS versions out of the box"
There are occasional cases where we could tell a server that we also support a lesser version of TLS when connecting to them and negotiate to a lower version if necessary.

This might reduce the noise we get on the issue tracker about making requests that result in SSLErrors. A great deal of the discussion around this has already taken place over on https://github.com/kennethreitz/requests/issues/

[2013-09-02 18:09] Lukasa commented on #1570
My understanding is that this is not how TLS works. From [Technet](http://technet.microsoft.com/en-us/library/cc785811.aspx):

So we can't do this as part of a handshake. Instead, we'd have to make the initial request, fail (in some nonspecific way) and then reattempt the handshake using a lower version. That seems like a slightly crazy thing to do, especially as the number one reason for failing

[2013-09-02 18:13] sigmavirus24 commented on #1570
This is totally unrelated, but we also need a label that says "Needs Minion Input"

[2013-09-02 18:23] t-8ch commented on #1570
@sigmavirus24 That was not a `SSLError` but a `socket.error` which doesn't really indicate a SSL problem.

[2013-09-02 18:25] sigmavirus24 commented on #1570
@t-8ch maybe I wasn't clear but I never said that issue was caused by this, just that discussion about negotiating a different version could be found there. =)

[2013-09-03 09:36] sylvinus opened #1572 "urllib3 exceptions passing through requests API"
I don't know if it's a design goal of requests to hide urllib3's exceptions and wrap them around requests.exceptions types.

(If it's not IMHO it should be, but that's another discussion)

If it is, I have at least two of them passing through that I have to catch in addition to requests' exceptions. They are requests.packages.urllib3.exceptions.DecodeError and requests.packages.urllib3.exceptions.

[2013-09-03 13:14] botondus opened #1573 "Specify password for SSL client side certificate"
As far as I know currently it's not possible to specify the password for the client side certificate you're using for authentication.
This is a bit of a problem because you typically always want to password protect your .pem file which contains the private key. `openssl` won't even let you create one without a password.

[2013-09-03 13:16] botondus commented on #1573
Something like:

`requests.get('https://kennethreitz.com', cert='server.pem', cert_pw='my_password')`

[2013-09-03 13:22] sigmavirus24 commented on #1572
I definitely agree with you and would agree that these should be wrapped.

Could you give us stack-traces so we can find where they're bleeding through?

[2013-09-03 13:24] sylvinus commented on #1572
Sorry I don't have stack traces readily available :/

[2013-09-03 13:30] sigmavirus24 commented on #1572
No worries. I have ideas as to where the DecodeError might be coming from but I'm not certain where the TimeoutError could be coming from.

If you run into them again, please save us the stack traces. =) Thanks for reporting them. (We'll never know what we're missing until someone tells us.)

[2013-09-03 13:55] sigmavirus24 commented on #1573
Pretty sure you're supposed to use the `cert` param for that: `cert=('server.pem', 'my_password')`

[2013-09-03 14:16] Lukasa commented on #1572
`TimeoutError` is almost certainly being raised from either [`HTTPConnectionPool.urlopen()`](https://github.com/kennethreitz/requests/blob/master/requests/adapters.py#L282-L293) or from [`HTTPConnection.putrequest()`](https://github.com/kennethreitz/requests/blob/master/requests/adapters.py#L301). Adding a new clause to [here](https://github.com/kennethreitz/requests/blob/master/requests/adapters.

[2013-09-03 14:46] t-8ch commented on #1573
@sigmavirus24
The tuple is for `(certificate, key)`. Currently there is no support for encrypted keyfiles.
The [stdlib](file:///usr/share/doc/python/html/library/ssl.html#ssl.SSLContext.load_cert_chain) only got support for those in version 3.3.

[2013-09-03 15:05] Lukasa commented on #1573
Heh, @t-8ch, you accidentally linked to a file on your local FS. ;) [Correct link](http://docs.python.org/3.3/library/ssl.html#ssl.SSLContext.load_cert_chain).

[2013-09-04 02:43] sigmavirus24 commented on #1573
Quite right @t-8ch. This is why I should never answer issues from the bus. :/

[2013-09-04 05:31] Lukasa commented on #1573
So the current consensus is we don't support this. How much work is it likely to be to add support in non-3.3 versions of Python?

[2013-09-04 05:40] karanlyons commented on #1570
Low hanging fruit, but could we just add a "Maybe this server needs a lesser version of TLS? {link_to_docs}" when an HTTPS connection is reset by peer? It doesn't solve the actual problem, but at least points the dev in potentially the right direction.

(FWIW, I just happened to figure out what was going on after a bunch of debugging because I searched the issues for "connection reset by peer". No

[2013-09-04 05:50] Lukasa commented on #1570
I wonder if this should be fixed in urllib3, and then caught and rethrown in Requests. My specific concern is that urllib3 has been wrapping these in `urllib3.exceptions.MaxRetriesError`s, which makes finding the original exception just that bit more of a pain. Presumably the `urllib3.VerifiedHTTPSConnection` object can catch this failure though.

That seems like the way to go to me.

[2013-09-04 05:53] Lukasa commented on #1570
In fact, I think that's the _right_ thing to do. I don't think we should renegotiate TLS for people without telling them: that feels like a step too far. Better to raise a `requests.SSLHandshakeError` and let the user handle this themselves.

[2013-09-05 08:06] Lukasa commented on #1572
Actually, that can't be right, we should be catching and rethrowing as a Requests `Timeout` exception in that block. Hmm, I'll do another spin through the code to see if I can see the problem.

[2013-09-05 08:10] Lukasa commented on #1572
Yeah, a quick search of the `urllib3` code reveals that the only place that `TimeoutError`s are thrown is from `HTTPConnectionPool.urlopen()`. These should not be leaking. We really need a stack trace to track this down.

[2013-09-05 10:22] sylvinus commented on #1572
I've added a few logs to get the traces if they happen again. What may have confused me for the TimeoutError is that requests' Timeout actually wraps the urllib3's TimeoutError and we were logging the content of the error as well.

So DecodeError was definitely being thrown but probably not TimeoutError, sorry for the confusion. I'll report here it I ever see it happening now that we're watching f

[2013-09-06 08:04] zbb42 commented on #1572
I also got urllib3 exceptions passing through when use Session in several threads, trace:

[code]

[2013-09-08 15:04] Lukasa commented on #1572
Ah, we should rewrap that `ClosedPoolError` too.

[2013-09-08 18:54] sigmavirus24 commented on #1572
But it's still the summer... How can any pool be closed? :smirk_cat:

But yes :+1:

[2013-09-09 19:00] Lukasa commented on #1572
I've added a fix for the `ClosedPoolError` to #1475. Which apparently broke in the last month for no adequately understandable reason.

[2013-09-25 03:16] GrahamDumpleton opened #1622 "Requests 2.0.0 breaks SSL proxying via https_port of Squid."
For a Squid configuration of:

    http_port 3128
    https_port 3129 cert=/usr/local/opt/squid/etc/ssl/squid.crt key=/usr/local/opt/squid/etc/ssl/squid.key

And test names where:

The 'http_port' annotation indicates whether Squid HTTP port was used.

The 'https_port' annotation indicates whether Squid HTTPS port was used.

The 'scheme' annotation in test names refers to whether the scheme was pa

[2013-09-25 03:25] sigmavirus24 commented on #1622
Unless someone else beats me to it, I'll probably take a look at duplicating this weekend. I have pretty much no context on the proxy work though so if anyone with some background on that wants to pair on this let me know.

[2013-09-25 05:14] GrahamDumpleton commented on #1622
To explain more about what has been broken. Consider the following;

requests - 1.2.3

http_port_no_scheme (FAIL) - As no scheme is provided, requests will use the scheme of the target URL, which in these tests is a 'https' request. It therefore attempts to connect to http_port using a SSL connection, which will fail as Squid isn't expecting that on that port. Expected result.

http_port_with_http

[2013-09-25 07:48] Lukasa commented on #1622
This is a good catch, and thanks so much for the bug report. The problem is almost certainly in the underlying urllib3 implementation of the proxy behaviour though. Let's not raise an issue there just yet until we can isolate the problem, but I think the fix will have to be in that library.

Hey @schlamar, can you take a look at this?

[2013-09-25 08:01] schlamar commented on #1622
@GrahamDumpleton Could you please run these tests against plain urllib3, too (see https://gist.github.com/schlamar/5080598#file-test_proxy-py for example code)?

[2013-09-25 10:00] GrahamDumpleton commented on #1622
It is most likely due to the introduction of HTTPSConnectionPool._prepare_conn() in 'requests/packages/urllib3/connectionpool.py'. This is called at the end of HTTPSConnectionPool._new_conn(). It is called whenever a proxy is being used for a HTTPS connection, but doesn't take into consideration the scheme that was specified for talking to the proxy. Thus it tries to connect to a SSL port as non S

[2013-09-25 10:21] Lukasa commented on #1622
Out of interest, why can't we send CONNECT over the SSL connection to the squid proxy? That feels like it's probably the right thing to do.

[2013-09-25 10:27] GrahamDumpleton commented on #1622
You would be tunnelling SSL over a connection which is already SSL. That is a bit strange to start with. Am not even sure whether a proxy server would allow that. I don't know enough about urllib3/httplib to even work out how to make it even attempt it.

Anyway, I have tested that change in our actual product and it appears to work in all the cases I can think of that need to work.

[2013-09-25 10:31] Lukasa commented on #1622
So to give some perspective, my worry is about security. Specifically, if you do this:

[code]

It's not clear from any of that that the proxy will be terminating the SSL and starting a new connection. It seems bizarre to have this line be more secure:

[code]

[2013-09-25 10:39] GrahamDumpleton commented on #1622
Technically tunnelling on top of SSL is possible:
- http://stackoverflow.com/questions/6594604/connect-request-to-a-forward-http-proxy-over-an-ssl-connection

How widely it is supported by proxies may be an issue.

As I had already pointed out, the https_port_with_https_scheme does have the man in the middle problem if the proxy is compromised. But then am sure that some corporates probably set it

[2013-09-25 10:46] Lukasa commented on #1622
I agree that we're going to have to document our decision-making process here, whatever we decide to do. I'm just trying to think about what the best procedure would be, both from a Requests and a urllib3 perspective. =)

[2013-09-25 10:54] schlamar commented on #1622
@GrahamDumpleton I'm pretty sure the only issue is your setup. Please check first how curl behaves (I expect exactly like requests 2.x).

That's wrong. Proxy support was broken before, it is fixed with 2.x.

`http_port_with_https_scheme` is now exactly how it should work. There is just a TCP connection to the proxy (doesn't matter if port 80 or port 443). All HTTP data is encrypted with the cert o

[2013-09-25 11:21] GrahamDumpleton commented on #1622
I have supplied all the test scripts and log output from running the tests at the URL I gave. All the variations are laid out in the tests and as summarised in the tables above. This isn't a case of having a single specific setup wrong. All the possibilities were enumerated for connecting to a target web server with a https URL and what occurs simply described for comparison.

Comparing to other p

[2013-09-25 11:52] Lukasa commented on #1622
So, let's just clarify what we expect `{'https': 'https://127.0.0.1/'}` to actually do.Should we be expecting an SSL connection to the proxy followed by CONNECT, or a non SSL connection followed by CONNECT?

[2013-09-25 11:59] GrahamDumpleton commented on #1622
It attempts a non SSL connection and then a CONNECT. This is all it can do, as you cannot know the other end is actually going to talk SSL or not anymore based on the scheme because it has to ignore the scheme for http_port_with_https_scheme to work. This is why https_port_with_https_scheme cannot ever work if the intent it is to support CONNECT for http_port_with_https_scheme. So that is reality

[2013-09-25 15:45] schlamar commented on #1622
Nope, I assume that the _general_ squid setup does not work like intended. I think that squid does not allow CONNECT on your HTTPS port. Please verify that with curl/browser, e.g.:

[code]

[2013-09-25 16:41] schlamar commented on #1622
Definitely not by squid (and by requests/urllib3).

from http://wiki.squid-cache.org/Features/HTTPS

[2013-09-25 17:08] schlamar commented on #1622
One last comment

This is **not** the expected result, because doing `GET` to an HTTPS resource via a proxy is just wrong (which was fixed in requests 2.x).

There are no different settings. Tunnel is tunnel no matter what scheme you have set on your proxy. This is mainly an issue for version 1.x. There is really an security issue because HTTPS connections via HTTP proxy are not encrypted (which I

[2013-09-25 20:28] GrahamDumpleton commented on #1622
You miss the point of those descriptions. It was simply giving the observed behaviour for that particular version of the requests module (1.2.3) and whether for how that version of requests/urllib3 was implemented, whether it behaved as it would be expected from that code at that time. It was not telling you how it should overall work in giving the description of what it did in 1.2.3. I did not sa

[2013-09-26 06:10] schlamar commented on #1622
I didn't think (nor said) that :) But it was not clear if you understood why your code was failing at https_port_with_https_scheme because in general it works if the TCP endpoint at https_port supports HTTP connect. This implies that you have not to document which combinations work because all combinations work if the TCP endpoint works.

So: what's your point after all? :)

[2013-09-26 07:55] Lukasa commented on #1622
I believe the point is that we should better document the behaviour of various proxy settings. =)

[2013-09-26 08:19] schlamar commented on #1622
Which is always the same on 2.x, so there is IMO no need for it. :)

[2013-09-26 08:20] GrahamDumpleton commented on #1622
Let me quote again what I said before:

"""
https_port_with_https_scheme (FAIL) - Scheme provided was 'https'. The requests module though ignores what the scheme is and connects using a non SSL connection. This fails because Squid was expecting a SSL connection on https_port.
"""

So in this case requests is going to contact the https_port on Squid. Squid is expecting a SSL connection to be establ

[2013-09-26 09:22] schlamar commented on #1622
You have linked to a SO question above, maybe you should read all answers to that question, especially http://stackoverflow.com/a/14905773/851737

Plus:

from http://wiki.squid-cache.org/Features/HTTPS

This was totally wrong implemented in 1.x It never really worked. You have a wrong assumption here.

Again: have a look at curl. It behaves exactly like requests 2.x. No client except Chrome is sup

[2013-09-26 09:33] GrahamDumpleton commented on #1622
Then why did you ever bother making the scheme mandatory in the proxies map when you ignore it? You could have still accepted host:port alone and just always made it use http anyway.

Anyway, what it comes down to is the documentation needs to state then that the scheme is totally irrelevant and that http:// is the only one that makes sense, because https:// is a lie.

[2013-09-26 09:39] schlamar commented on #1622
I have asked that myself. Because curl and other HTTP clients do support `http_proxy=host:port` without scheme. @Lukasa ?

[subjective opinion] The documentation shows only examples with http:// so this kind of implies that. I think you cannot expect CONNECT to work via SSL while it is not explicitly stated.

[2013-09-26 09:54] Lukasa commented on #1622
Ugh. The answer is because the work to make proxy schemes explicit was actually implemented before we had CONNECT support.

[2013-09-26 13:00] schlamar commented on #1622
Allowing proxy without scheme, would that be an API breaking change? If not we might should support that, so we are compatible with curl in terms of proxy handling. Probably in form of undocumented feature.

[2013-09-26 13:14] Lukasa commented on #1622
Uh, we made this change in [2.0](http://docs.python-requests.org/en/latest/community/updates/#id1):

[2013-09-26 13:59] schlamar commented on #1622
Ah, it looks like requests 1.x added the proxy scheme based on target URL (which is horribly wrong...): https://github.com/kennethreitz/requests/commit/840540b6b1f07ef87faab73392c03fbef0dcc9fe I guess this is the reason for this change.

Would be adding `http`  if no scheme was given an acceptable change for 2.x?

[2013-10-04 00:02] ysangkok opened #1648 "Header "Transfer-Encoding: chunked" set even if Content-Length is provided which causes body to not actually get chunked"
## Test script

[code]
## Actual result

Received on the server:

[code]
## Expected result

Did not expect "Transfer-Encoding: chunked" since I provided the Content-Length. If requests insists on doing chunked transfer encoding, it should disregard the content length and actually chunk the content (as it does if there is not Content-Length header given).

[2013-10-04 08:54] Lukasa commented on #1648
I agree, we should pick one of those two options. =)

[2013-10-04 19:26] sigmavirus24 commented on #1648
So commenting here as I should have done >6 hours ago:

You're implying that in this instance we didn't actually chunk the data. Do you have actual evidence of that? The output alone is not nearly enough to demonstrate that.

Furthermore running your example above in 2.0.0 does not work: I get this traceback:

[code]

This isn't even an actual issue as far as I can tell. Not at least on 2.0.0 whic

[2013-10-04 19:41] ysangkok commented on #1648
What gave me the impression was the fact that Requests did not chunk (even if it set the header) once I set Content-Length.

The example works with Python 3.3.

[2013-10-04 20:10] sigmavirus24 commented on #1648
Trying it on Python 3.3 it does not blow up, on the other hand it did chunk the content. The chunking is not platform dependent so I am thoroughly confused by that.

[code]

Secondly, I'd still like to know what gave you the impression that setting the `Content-Length` header would prevent chunked encoding of data.

[2013-10-04 20:16] ysangkok commented on #1648
@sigmavirus24 You're not using Requests 2.0.0 on your Python 3.3 installation.

[2013-10-04 21:02] sigmavirus24 commented on #1648
@ysangkok good point. :-) With 2.0 it's definitely broken. Regardless my opinion is definitely in the court of us removing the `Content-Length` header.

[2013-10-05 05:59] Lukasa commented on #1648
You're probably right @sigmavirus24, we should probably strip the Content-Length header.

[2013-10-05 15:01] sigmavirus24 commented on #1648
Hm, I'm not entirely convinced of my own argument anymore. I went looking for the old discussions surrounding users setting the `Content-Length` header themselves and I must be remembering old IRC conversations.

I'm still of the opinion that users should really not be setting those headers themselves and that we should remove them, however, I think this issue points out a far more important issue

[2013-10-05 16:37] Lukasa commented on #1648
Bleh. I'll ponder.

[2013-10-05 16:41] sigmavirus24 commented on #1648
Also this isn't a breaking API change that I would hesitate to make because I have to wonder how many people are actually relying on this behaviour.

[2013-10-05 17:04] sigmavirus24 commented on #1570
@karanlyons could you submit a PR for that documentation? You have greater context on the issue than I do.

[2013-10-05 17:06] sigmavirus24 commented on #1294
I think this was resolved (sort of) by #1475. Closing for now but it can be reopened if necessary.

[2013-10-05 17:07] Lukasa commented on #1294
#1475 was never merged. =)

[2013-10-05 19:10] sigmavirus24 commented on #1294
GitHub sometimes displays merged PRs as closed so I figured it was probably merged. Oh well.

This isn't exactly a bug but more of a feature request, do we have any updated ideas about this? Last I saw:

This makes me wonder if we should even be bothering.

[2013-10-06 07:42] Lukasa commented on #1294
Possibly not. It's certainly hard for me to get excited about at the minute.

[2013-10-06 18:01] sigmavirus24 commented on #1294
I'll put it on my TODO list. Not sure when I'll get to it though.

[2013-10-11 11:08] Lukasa commented on #1622
@schlamar Sorry I let this slip past me. The answer there is 'maybe'. @t-8ch was one of the people strongly pushing for explicit proxy schemes: do you have an opinion?

[2013-10-12 11:22] t-8ch commented on #1622
@Lukasa
Like @schlamar I think the 1.x behaviour was wrong.
The proposal for explicit schemes in lieu of a default `http`-scheme was only about the second zen of python: `Explicit is better than implicit.`

If people are more comfortable with a default scheme I'm totally fine with this.

[2013-10-12 13:43] sigmavirus24 commented on #1622
I would think telling people to explicitly set the scheme is good but having a default for it is just as good. If this helps @GrahamDumpleton in anyway I'm especially :+1: for it.

[2013-10-12 15:19] Lukasa commented on #1622
Alright, that seems like a good plan to me.

[2013-10-12 15:28] schlamar commented on #1622
Would this change be fine according to feature freeze policy?

[2013-10-12 20:03] sigmavirus24 commented on #1622
@schlamar this is not introducing a new feature per-se. Are you instead considering semantic versioning? Technically this would be backwards compatible since we would still be allowing/encouraging users to use a scheme, so it is also permissible by semantic versioning.

[2013-10-12 20:03] Lukasa commented on #1622
By semver, we'd need to do that in 2.1. =)

[2013-10-12 20:10] sigmavirus24 commented on #1622
Correct but I took that as something we all understood.

[2013-10-12 20:11] Lukasa commented on #1622
Heh, sorry, just wanted to be clear. =)

[2013-10-13 22:58] kennethreitz opened #1670 "Improve third-party docs"
e.g. https://pypi.python.org/pypi/trequests

[2013-10-14 02:53] sigmavirus24 commented on #1670
I don't quite understand. Document third party adapters/libraries/etc.?

[2013-10-14 18:04] rshipp opened #1671 "Certificate name checking does not honor the Host header"
When verifying SSL certificates, requests only uses information from the URL string passed to `get()`, and ignores the HTTP Host header (passed in with the optional `headers` argument). This causes a failure in my case because the URL I am using is actually a local IP address. (If I use the domain name, it resolves to the server's public IP, but I need to work with the local one.)

In other words,

[2013-10-17 17:03] philipgoh opened #1685 "Possible Memory Leak"
I have a very simple program that periodically retrieves an image from an IP camera. I've noticed that the working set of this program grows monotonically. I've written a small program that reproduces the issue.

[code]

The memory usage is printed at the end of each iteration. This is the sample output.
** Iteration 0 **
[code]
** Iteration 1 **
[code]
The memory usage does not grow with every it

[2013-10-18 06:14] Lukasa commented on #1685
Thanks for raising this and providing so much detail!

Tell me, do you ever see the memory usage go down at any point?

[2013-10-18 09:50] philip-goh commented on #1685
I've not seen memory usage go down. I was wondering if it had to do with Python's garbage collector and perhaps it just hasn't had an opportunity to kick in, so I added a call to `gc.collect()` after each download. That made no difference.

[2013-10-21 10:12] Lukasa commented on #1671
@sigmavirus24 Should we be filing this under our long list of "Do we trust the Host: header" bugs?

[2013-10-21 11:40] sigmavirus24 commented on #1671
@Lukasa I think so. My concern is that we keep special-casing areas of the library around this and I really really hate that.

[2013-10-21 12:30] Lukasa commented on #1671
Agreed. We need a better way of getting host information. Perhaps a property on the `Request` object?

[2013-10-21 13:22] sigmavirus24 commented on #1671
I can't envision anything off the top of my head. What do you have in mind?

[2013-10-21 13:37] Lukasa commented on #1671
Something like

[code]

I think there are a few other places where we consult the URL for this information, so this might work a bit better. Maybe worth renaming, because sometimes we _do_ want the URL host.

Quick, tell me why it won't work. =)

[2013-10-21 13:40] sigmavirus24 commented on #1671
This works fine for me. For the times we do want the URL host, we should have a property that is the parsed url, e.g.,

[code]

[2013-10-21 13:41] Lukasa commented on #1671
Also a good idea. This would be a useful pair of fixes.

Can you thin of a better name for that `host` property though? The best I have is `asserted_host`, which frankly sucks pretty hard.

[2013-11-12 14:55] kr41 commented on #1572
If it's still needed, here is the traceback of DecodeError I got using proxy on requests 2.0.0:

[code]

[2013-11-15 09:32] bryanhelmig commented on #1648
I've run into a situation where the length of a generator (for example, a streamed file from another server or really large disk on file) is known. For example:

[code]

That might be a valid reason to keep Content-Length around. The only workaround right now (that I know of) is to exhaust the generator in memory and pass the bytes directly in.

[2013-11-15 12:55] sigmavirus24 commented on #1648
@bryanhelmig does the server you're uploading to require you to send the Content-Length header?

[2013-11-15 16:15] ysangkok commented on #1648
@bryanhelmig did you see the comments in the linked pull request?

Anyway, I don't understand why Content-Transfer-Encoding isn't just a flag. No need to delete any headers (or do any other kind of hand-holding), it was never a question of the Content-Length being right or wrong, the actual issue is that the presence of Content-Length semi-disables Content-Transfer-Encoding, which makes no sense a

[2013-11-15 17:06] Lukasa commented on #1648
Stop stop stop.

Everyone take a breather.

@ysangkok You can do streaming uploads without generators just fine. Provide Requests a file-like object in the data parameter and that will work. Yes, it's not as simple as using a generator, but that's ok because it's still not very hard.

In the meantime, Requests should not suggest that it is chunking data when it does not. We are all agreed on that.

[2013-11-15 19:41] bryanhelmig commented on #1648
@sigmavirus24 it does. :-( 411 for attempts without a Content-Length. Quite annoying IMO.

@ysangkok I did.

@Lukasa That was my original edit actually, but I'm not sure what that nets us in this case besides a chance to link to the docs. Unless I am mistaken, a file object isn't guaranteed to give you a length, generators are just guaranteed to _not_ give a length. I noticed in testing that small

[2013-11-17 17:16] piotr-dobrogost commented on #1648
I'd prefer Requests _Make Easy Things Easy & Hard Things Possible_ :)

[2013-11-17 17:19] Lukasa commented on #1648
@piotr-dobrogost Agreed, but if making a hard thing possible requires making an easy thing harder, we'd rather leave the easy thing easy. =)

[2013-11-17 19:30] sigmavirus24 commented on #1648
A few things:

As far as I'm concerned, this has been (and will continue to be, until we come to a decision) undefined behaviour

There's a difference between servers not understanding a chunked Transfer-Encoding and servers not wanting to respect it. I suspect the latter is the case in @bryanhelmig's case. Alternatively, the application could have been written by someone who doesn't understand or

[2013-11-17 20:14] bryanhelmig commented on #1648
I actually think this is very likely the case in most of my examples. We (@zapier) attempt to upload files to over a dozen different APIs and the few of them that require Content-Length (seem to) timeout with chunked Transfer-Encoding.

I could put together a test suite of how various services respond to Content-Length/Transfer-Encoding, but I feel like even if it is incorrectly implemented APIs,

[2013-11-18 00:24] sigmavirus24 commented on #1648
Just to clarify: by "the right thing" I do not necessarily mean the RFC thing. (In case that's what you think I meant)

I agree that misbehaving servers shouldn't inform our design.

We already know how broken the web is. Regardless, knowing whether we should delete the header after warning the user or leave it would be where that data could be useful.

[2013-11-18 08:42] Lukasa commented on #1648
Bleh. This makes me sad.

Ok, I think @sigmavirus24's plan is the best one here, at least for now.

[2013-11-18 19:32] bryanhelmig commented on #1648
A few things that came up are distracting me from getting you guys some detailed data, but here is a brain dump of what I've seen:

The biggest offender I've seen are API endpoints that require multipart upload: they usually need a Content-Length or they freak out on Transfer-Encoding chunked (I'm not sure which). That isn't the case everywhere, but here are the bits I can pull out of our source w

[2013-11-20 14:38] sigmavirus24 commented on #1648
This should be easier to test now that we have a few APIs that we can reproduce against, namely Twitter.

[2013-12-06 15:00] martingalloar commented on #1155
Hi ! Got lost and don't know where this has been worked on. Need this feature to move a project from custom HTTP lib to python-requests. There's a PR I can use to test this feature?

[2013-12-06 16:21] Lukasa commented on #1155
@dmckeone Sadly there's been no particular progress here, largely because we need to combine this with our current `CaseInsensitiveDict` to produce some kind of horrible monstrosity like a `CaseInsensitiveMultiDict`.

Some discussion occurred over on shazow/urllib3#236 about this. The summary was basically:
- Steal Django's `MultiDict`
- Add key case-insensitivity.
- Implement the structure in url

[2013-12-06 17:05] cdunklau commented on #1155
Werkzeug has a multidict too if you need more inspiration

On Dec 6, 2013, at 10:21 AM, Cory Benfield notifications@github.com wrote:

[2013-12-06 17:07] sigmavirus24 commented on #1155
That's where we stole our initial implementation from if I remember correctly.

[2013-12-06 17:15] kennethreitz commented on #1155
I think this is pretty low priority now, honestly. Things work pretty well now, and are stable. I'd rather not change things than change things :)

[2013-12-10 21:27] ThiefMaster opened #1787 "socket.timeout exception"
I think that exception should be handled/wrapped internally and be reraised as a `RequestException`-based exception.

[code]

[2013-12-10 21:29] ThiefMaster commented on #1787
Ok, seems to be a duplicate of #1236... still annoying.

[2013-12-13 13:32] adaschevici commented on #1787
With the latest version this no longer seems to show. The socket exception has been wrapped with a requests.exceptions.TimeoutException .
I think it is fair to say this can be closed?

[2013-12-13 13:56] ThiefMaster commented on #1787
It happened with requests 2.1.0. So if that's the "latest version" it might not be wrapped in all cases.

[2013-12-13 13:58] Lukasa commented on #1787
That's actually a urllib3 bug: `socket.timeout` should be caught in urllib3 and rethrown as a urllib3 exception. Mind opening this issue over there?

[2013-12-16 10:55] ChristopherHackett opened #1804 "requests seems to expect more content until it is forcibly closed by the remote host [Errno 10054]"
I have noticed that requests seems to have some sort of issue with www.sainsburysbank.co.uk

It will block for 2+ mins despite having already received the content. Other tools like curl have no issue.

Below is the console and I have taken a WireShark dump (screenshot attached). If you need the pcapng file then let me know.

    Python 2.7.3 (default, Apr 10 2012, 23:24:47) [MSC v.1500 64 bit (AMD

[2013-12-16 11:17] Lukasa commented on #1804
Gah, well. There's all kinds of fun here. First, Sainsbury's Bank is using chunked encoding to return the response to us. Not the end of the world, but a potential source of fun. According to Wireshark they have terminated it properly though, so that's something. Also, their headers are ill-formatted:

[code]

That's not a typo: they have an empty header key and value. Which is fun. I'm amazed the

[2013-12-16 11:22] Lukasa commented on #1804
Yup, the parsing breaks. `httplib` calls `HTTPMessage.isheader`, which resolves to `rfc822.Message.isheader()`, which has the following code:

[code]

Because the colon is the first character, `line.find(':')` returns `0`, which means this function returns `None`, which means `httplib` concludes this isn't a header line. This leads to the header being thrown away _and the header block being assume

[2013-12-16 11:25] Lukasa commented on #1804
Sainsbury's Bank is at fault here: that header line is not legal. RFC 2616 defines a header line like so:

[code]

It's clear that a field-name **must not** be zero length, which is exactly what we've been sent.

[2013-12-16 11:36] Lukasa commented on #1804
The same behaviour exists in 3.3 as well, and doesn't appear to have been reported on the stdlib bug tracker. I'll do that now.

[2013-12-16 11:56] Lukasa commented on #1804
Issue now being tracked [here](http://bugs.python.org/issue19996). We'll leave this open until we work out what we're doing in the core library.

[2013-12-16 13:12] ChristopherHackett commented on #1804
Thanks @Lukasa - quick and detailed follow up. I'll keep an eye on the httplib bug.

[2013-12-16 14:02] sigmavirus24 commented on #1804
@Lukasa how can I get some beer to you? Seriously, that was incredibly fast and awesome.

[2013-12-16 14:35] Lukasa commented on #1804
Thanks guys. This was actually quite a fun bug to find. =D

@ChristopherHackett I forgot to mention, if you want to be able to work around this, it seems to be affecting only the `gzip` delivery of the page. It'll work fine if you unset the `Accept-Encoding` header we send, like this:

[code]

[2013-12-18 17:23] adaschevici commented on #1787
@ThiefMaster , Hi, can you still reproduce this using the requests package compiled from the sources on here?
I burrowed down into the urllib3 and it seems i can't reproduce this issue.
Can you provide me with the server code or give me some hints of what it is or description something to help me diagnose the problem better?
Thanks.

[2013-12-18 23:44] ThiefMaster commented on #1787
When it happened the server was not running. And even then it just happened sporadically (the script was trying to GET a page every ~0.5s all night and at some point failed with the error above).

[2013-12-19 02:59] adamsc commented on #1787
@adaschevici I've been experiencing this bug sporadically too. It's been occurring under similar circumstances to @ThiefMaster. I'm just running a script which makes a bunch of GET requests on 3rd party servers. About 1 of every 100 requests which time out throw the bad exception.

I've been attempting to reproduce it consistently, but haven't had any luck.

edit: This seems to be the exact same i

[2013-12-19 03:48] joepie91 commented on #1787
Okay, so what I can tell from a cursory look at the code:
- This socket.timeout exception will only happen when the connection was successful, but it _times out while reading the response_ from the server, ie. the server went away inbetween the original request and finishing the response retrieval. HTTP requests are usually fairly short-lived, thus this would be an uncommon scenario - that'd expla

[2013-12-19 05:57] adaschevici commented on #1787
@ThiefMaster , Thanks. I will try and reproduce this. Regarding the description provided it seems that it will occur on server overload.
When i tried to overload it in ubuntu what i got was a pipe error. I've been trying it on windows but unfortunately the tests are failing before this one.
We might be looking into a platform dependent test?
Or maybe a patch test to provide the coverage?

CrossRef

[2013-12-19 08:30] Lukasa commented on #1787
Hang on, it looks to me like urllib3 doesn't catch `socket.timeout` in `Response.read()`. That feels clearly and obviously wrong to me. @shazow, (and @kevinburke since you implemented this), am I missing something here?

[2013-12-19 08:36] shazow commented on #1787
Makes sense, if we can get a test that triggers a `socket.timeout` in `Response.read()`.

[2013-12-19 08:48] Lukasa commented on #1787
@shazow Pfft, as a socket-level test that's easy =D. I'll take a swing at it at somepoint today if someone doesn't beat me to it.

[2013-12-19 08:50] shazow commented on #1787
:thumbsup:

[2013-12-19 08:57] adaschevici commented on #1787
@Lukasa , where do you mean to catch the exception
In httpresponse.read(), yes?
I have been working with it and trying to get the exception thrown from there but i've had no successful attempts so far.

Anyway...i will retrace my steps and see where i went wrong maybe i will come up with the proper test.

[2013-12-19 10:00] adaschevici commented on #1787
Given further investigation, this seems to no longer show, at least under ubuntu.
From urllib3.
I built a http server and was returning a file on get request, made the get request run multiple times.
Closed the server.
All i am getting for a stack trace is this:
 File "/home/hackawaye/PycharmProjects/test_urllib3/test_urllib3.py", line 15, in <module>
    r = pool.request('GET', '/', timeout=20)

[2013-12-19 10:36] adaschevici commented on #1787
In requests(Ubuntu) :

Traceback (most recent call last):
  File "/home/hackawaye/PycharmProjects/test_urllib3/test_urllib3.py", line 9, in <module>
    r = requests.get('http://localhost', timeout=0.5)
  File "/home/hackawaye/virtual_envs/requests_virtual/local/lib/python2.7/site-packages/requests-2.1.0-py2.7.egg/requests/api.py", line 55, in get
    return request('get', url, *_kwargs)
  File "/

[2013-12-19 11:46] Lukasa commented on #1787
The way I'd test this is to use a urllib3 socket-level test, like [this one](https://github.com/shazow/urllib3/blob/master/test/with_dummyserver/test_socketlevel.py#L68-L104), but rewritten to close the socket midway through the data. Something like this:

[code]

Confirm that this test is OK: I wrote it in this text box and haven't run it, so there could be all kinds of crazy problems here.

[2013-12-19 13:15] adaschevici commented on #1787
Looks ok to me. This is the output i am getting from the test. It's similar to what i was getting before, seems the exception has been wrapped properly.

Traceback (most recent call last):
  File "/home/hackawaye/virtual_envs/urllib3/test/with_dummyserver/test_socketlevel.py", line 357, in test_timeout_midway_through_read
    response = pool.urlopen('GET', '/', timeout=Timeout(connect=1, read=0.00

[2013-12-19 13:23] Lukasa commented on #1787
Arg, sorry, you need to turn the retries off. Pass `retries=0` into `urlopen`.

[2013-12-19 13:28] adaschevici commented on #1787
Yes, did that same result:
My guess is that it is being wrapped from the HTTPConnectionPool
Traceback (most recent call last):
  File "/home/hackawaye/virtual_envs/urllib3/test/with_dummyserver/test_socketlevel.py", line 357, in test_timeout_midway_through_read
    response = pool.urlopen('GET', '/', retries=0, timeout=Timeout(connect=1, read=0.001))
  File "/home/hackawaye/virtual_envs/urllib3/ur

[2013-12-19 13:30] Lukasa commented on #1787
See, we're failing in the wrong place here. I'm expecting to throw the exception in `read()` not in `urlopen`. I'll see if I can work out why.

[2013-12-19 13:30] Lukasa commented on #1787
Uh, I know why. Also pass `preload_content=False` to `urlopen()`.

[2013-12-19 13:39] adaschevici commented on #1787
good call. Throws it now. Wasn't aware of that preload_content directive.
I will update the fix and get the test in as well. Thanks for the help.

[2014-01-07 11:52] Holiverh commented on #1572
Slightly different to the above, but urllib3's LocationParseError leaks through which could probably do with being wrapped in InvalidURL.

[code]

[2014-01-07 20:02] kennethreitz opened #1848 "API for reporting failing URLs"

[2014-01-07 23:15] sigmavirus24 commented on #1848
Hm?

[2014-01-07 23:17] kennethreitz commented on #1848
Like a place to POST to http://report.python-requests.org/ when you have a URL that doesn't behave properly.

[2014-01-08 00:04] sigmavirus24 commented on #1848
Ah okay

[2014-01-10 18:14] t-8ch opened #1857 "Disable SSL compression for security reasons."
After the recent discussion about SSL compression both in shazow/urllib3#109
and kennethreitz/requests#1583 (this issue was about performance reason, it got me to look at other projects, performance is *not* the reason for this issue) I looked at the behaviour of other popular open source projects. It turned out that the following projects disable the compression by default for [security reasons](

[2014-01-10 18:18] shazow commented on #1857
Fwiw, urllib3 _just_ merged a PR which disables this by default in Py32+ and PyOpenSSL, big thanks to @dbrgn for bringing it up and writing the patch. https://github.com/shazow/urllib3/pull/309

[2014-01-10 18:21] t-8ch commented on #1857
Ah, I linked the wrong urllib3 issue. This should of course have been issue 309.

[2014-01-10 18:48] Lukasa commented on #1857
I'm 100% in favour of this. 2.7 is clearly accepting some SSL related changes in the next version (see [20207](http://bugs.python.org/issue20207) from @alex), so it doesn't seem unreasonable to make a push for this as well.

Unfortunately, it doesn't save requests/urllib3 _entirely_, because both projects support 2.6 and 2.6 is deader-than-dead.

[2014-01-10 18:51] t-8ch commented on #1857
If the enterprise distributions still supporting 2.6 see that the (security) changes are applied to the still maintained versions of Python they know they should backport those patches.

[2014-01-10 18:51] shazow commented on #1857
I've resolved to letting 2.6 get whatever subset of functionality we're able to reasonably provide, until it becomes too much of a hassle and we have to drop it.

[2014-01-10 18:54] Lukasa commented on #1857
Fine then. So we just need to work out how to do it. It's clear that @t-8ch has some plans to investigate nginx, so I'm open to doing that for now.

[2014-01-10 18:57] alex commented on #1857
+1 on disabling TLS compression.

On Fri, Jan 10, 2014 at 10:54 AM, Cory Benfield notifications@github.comwrote:

##

"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: 125F 5C67 DFE9 4084

[2014-01-10 18:58] t-8ch commented on #1857
Here is [what nginx is doing](http://trac.nginx.org/nginx/browser/nginx/src/event/ngx_event_openssl.c?rev=4aa64f6950313311e0d322a2af1788edeb7f036c#L106):
(if `SSL_OP_NO_COMPRESSION` is not available, openssl < 1.0.0)

[code]

(Nginx is 2-clause BSD licensed, so we should be fine)

[2014-01-10 19:06] Lukasa commented on #1857
Yeah, that looks reasonable to me. Any idea when the relevant functions were introduced to OpenSSL?

[2014-01-10 19:19] t-8ch commented on #1857
Nginx gates this code behind

[code]

It seems compression itself has been implemented some versions earlier but openssl >= 0.9.8 should cover most installations.

[2014-01-10 22:32] jmhodges commented on #1857
Am I right to understand that a CPython 2.7 ticket needs to be made to disable TLS compression?

[2014-01-10 22:35] alex commented on #1857
From OS X 10.9 with Python HEAD I get:

u'tls_compression_supported': False

On Fri, Jan 10, 2014 at 2:32 PM, Jeff Hodges notifications@github.comwrote:

##

"I disapprove of what you say, but I will defend to the death your right to
say it." -- Evelyn Beatrice Hall (summarizing Voltaire)
"The people's good is the highest law." -- Cicero
GPG Key fingerprint: 125F 5C67 DFE9 4084

[2014-01-10 22:39] t-8ch commented on #1857
@jmhodges This is the plan.
@alex I guess your are running it with openssl > 1.0.0. If yes, the last point of my initial list applies.

[2014-01-11 00:47] kevinburke commented on #1848
Failing in what sense? Non-conformant, serving 500's...

[2014-01-11 01:34] sigmavirus24 commented on #1848
On Fri, Jan 10, 2014 at 04:48:02PM -0800, Kevin Burke wrote:

We're not looking for twilio's list of horrible servers and websites that
cause y'all headaches :P

I think this issue was motivated by the fact that we have been getting a lot
of bug reports which focus more around one specific URL misbehaving and ends
with us debugging the service for the user.

[2014-01-17 16:37] Lukasa opened #1869 "Why don't we send `strict` to urllib3?"
I was trawling the Python core bugtracker when I spotted [this](http://bugs.python.org/issue17849) beauty. It looks like it should be impossible to hit this if `strict` is set to `True`, but we don't pass that parameter to `urllib3`. Is there a good design reason we don't do this? If there isn't, are we open to a PR that does set that argument?

[2014-01-18 04:10] sigmavirus24 commented on #1869
If it doesn't cause issues, I don't see why not.

[2014-01-20 11:09] Lukasa opened #1871 "Our use of urllib3's ConnectionPools is not threadsafe."
We use a `PoolManager` to provide us with connection pools from urllib3. However, we don't actually run our requests through it: instead we get a suitable `ConnectionPool` and then use `urlopen` on that instead.

This _can_ lead to bugs when using threads and hitting a large number of hosts from one `Session` object. Each host creates a new `ConnectionPool` in the `PoolManager`: if too many are cr

[2014-01-20 11:15] Lukasa commented on #1871
Note that we may not want to do anything.

My general advice has always been "one session per thread". If that advice remains true we don't have to do anything.

[2014-01-20 12:03] pepijndevos commented on #1871
Another option is to use a `threading.local` internally for some critical state, that way you effectively, automaticaly and trivially have one `Session` per tread.

[2014-01-22 18:00] Leandros commented on #1787
I'am gona sneak into the thread, because I've experienced the very same bug.

The fix isn't live yet, am I right? I'am using the latest version from requests and it still occurs to me.
Is there a way to fix that these exceptions didn't even occur?

My code which raise the exception:

[code]

The exception itself:

[code]

[2014-01-22 18:07] Lukasa commented on #1787
Correct, the fix isn't live yet. This exception is raised when a server doesn't respond with data within our timeout. To prevent these, you can try extending the timeout by passing a `timeout` parameter to `requests.get()` or `session.get()`. However, if the server has for some reason stopped sending data, that bug will manifest in this way.

[2014-01-22 18:20] Leandros commented on #1787
Ok, I did tested it with a 30 seconds `timeout`, but I'am going to add a bit higher one and try to repeat the request if it fails.

Thanks!

[2014-01-23 18:26] dstufft commented on #1871
Oh, this probably explains why I got Pool closed errors in pip before I ripped the threading out.

[2014-01-24 15:23] esparta commented on #624
Can I ask what does it need to put the spanish documentation online, @kennethreitz ?
(Besides some update, it has 9 months old, as I see here: https://github.com/requests/requests-docs-es)

[2014-01-25 08:03] kevinburke opened #1880 "Document how to test Requests without going over the wire"
If I am writing unit tests that exercise HTTP requests, it may be useful to mock or stub the external service call, so that the unit tests don't go over the network and introduce latency or fail on a train or a plane.

It would be useful if Requests provided best practice documentation for:
- how to intercept the request before it goes over the wire, and return a custom response
- how to determine

[2014-01-25 13:20] sigmavirus24 commented on #1880
Unless you're on 3.3+ mock is an external dependency so your last sentence is quite wrong. Frankly, if you're performing any parsing of the response and the service is subject to change, e.g. the GitHub API, then mocking is error prone and an awful idea. That aside I still use mocking but not to stub out responses in tests.

[2014-01-25 14:41] sigmavirus24 commented on #1880
Also regarding:

You can run HTTPBin locally and tell the tests to use that with an environment variable.

I agree in principle though that by default it shouldn't be talking to the network though. I just thought I'd point out a separate alternative.

[2014-01-26 14:09] sigmavirus24 commented on #1871
This makes me wonder if we should be doing something.

[2014-01-26 15:30] dstufft commented on #1871
When I was trying to integrate requests into pip before I ripped threading out, I was able to get the Pool closed errors almost constantly. Pip's threading was a little jacked up is it created a new pool for every dependency and used it to do parallel discovery of the links from /simple/ and external sites.I just assumed we were doing something wrong and didn't feel like debugging it. Add in the c

[2014-01-26 19:42] sigmavirus24 commented on #1871
Yeah, I'm not sure we should be encouraging using one session object across threads, but I can see how sharing cookies across threads would be useful to a user.

[2014-01-26 19:44] dstufft commented on #1871
To be honest I didn't really decide to do that explicitly. Just it was the most obvious thing to do with the pip code base so it's what I did. It's possible that's not a reasonable thing to do too ;)

[2014-01-26 19:46] Lukasa commented on #1871
Realistically, fixing up the threadsafety of our `Session` object is substantial work. Realistically, one `Session` per thread is probably the best way to go at this stage.

The architectural cost of fixing up the thread safety of a `Session` is probably quite significant, at least if we want to do it well. At the very least, we need to lock on `cookie` access. Not sure how much more work would be

[2014-01-26 19:47] dstufft commented on #1871
Perhaps that should be documented? Or if it is I missed it :)

[2014-01-29 19:26] Lukasa commented on #1857
What's the state of this?

[2014-01-31 06:59] jschneier commented on #1869
`strict` was deprecated in Python3. With that the `LineAndFileWrapper` was removed because HTTP/1.x is assumed. The fact that the `LineAndFileWrapper` is created means that the proxy must be returning some malformed status line or is using HTTP/0.9. Or at least that sounds correct to me.

I might be a bit thick but what are people using to easily setup a proxy? I'd like to take a look at the raw r

[2014-01-31 07:32] Lukasa commented on #1869
@jschneier I'm not so worried about that particular issue: we've never hit it in Requests. I'm just wondering whether there's a good technical reason we shouldn't just limit ourselves to well-formed HTTP/1.1.

[2014-01-31 07:53] jschneier commented on #1869
I think printing an annoying deprecation warning on python3 is the only drawback if you only want to deal with HTTP/1.x

[2014-01-31 08:14] Lukasa commented on #1869
Deprecation warnings don't print by default on 3.x I don't think. So it's not even that bad.

[2014-01-31 14:34] sigmavirus24 commented on #1869
Let's do it unless @kennethreitz has an object to restricting the library to HTTP/1.1

[2014-01-31 14:41] kennethreitz commented on #1869
I don't see how this is useful.

[2014-02-07 10:31] ssbarnea opened #1906 "OpenSSL.SSL.Error: [('SSL routines', 'SSL3_GET_RECORD', 'decryption failed or bad record mac')]"
It seems that latest requests (2.2.1) is also affected by bug:
 OpenSSL.SSL.Error: [('SSL routines', 'SSL3_GET_RECORD', 'decryption failed or bad record mac')]

It seems to be an workaround here http://stackoverflow.com/questions/21497591/urllib2-reading-https-url-failure but I don't know how to apply it to requests.

[2014-02-07 11:12] Lukasa commented on #1906
Thanks for this!

Yeah, this isn't really a request bug, as the SO question highlights: it's a Debian or OpenSSL bug.

With that said, a possible workaround would be an extension of the transport adapter demonstrated on my blog, here: https://lukasa.co.uk/2013/01/Choosing_SSL_Version_In_Requests/

[2014-02-07 11:51] ssbarnea commented on #1906
It's a real problem and I do not have the confirmation that the workaround works. What is even more awkward is that my automation script that used to query a server every hour for few hundred requests started to fail suddenly, even without me changing anything on the machine. I guess they may have changed the configuration of the web server.

Still, still problems occurs on latest distro of Ubuntu

[2014-02-07 13:37] Lukasa commented on #1906
I agree that it's a real problem. I do not necessarily agree that Requests needs a workaround for every bug in any of our dependencies.

What is not clear to me at this time is how severe this bug is, how widespread it is, and how easy it is to work around. It's also not easy for me to find those things out today: I'm at a conference and won't have time near a laptop. It would be useful if @sigmav

[2014-02-07 14:09] ankitson commented on #1558
@Lukasa Using cloudpickle from piclouds cloud library(https://pypi.python.org/pypi/cloud) seems like a good option to me. It supports a lot more types than pythons pickle module, including functions (http://docs.picloud.com/client_pitfall.html#nonsupported-objects lists the exceptions). It would require adding a dependency on cloud, but we could just copy the source, the same way as urllib3 and ch

[2014-02-07 15:47] sigmavirus24 commented on #1558
We only vendor absolutely necessary dependencies and we try to keep that
number as low as possible. As I see it, this is not a high priority for us,
nor is vendoring a dependency for cloudpickle quite the approach I would like
to take at the moment.

[2014-02-07 18:44] ssbarnea commented on #1906
Your workaround didn't work this time, I tried it and same error. And regarding using a new openssl, that's not easy at all openssl is very well tied into the system and I imagine that installing another one will only bring more problems.

If we would have a working-workaround it would be fine, I don't mind applying a patch to this script, but it doesn't work. I tried with ssl_version=ssl.PROTOCOL

[2014-02-07 18:59] ssbarnea commented on #1906
Oops, it seems that it was a red herring, it's not related to this. Instead it seems to be related to multiprocessing. I was using multiprocessing in order to perform requests on 10 threads, to speedup the process. This worked well for weeks but suddenly stopped working a couple of days ago... with this error.

[2014-02-08 09:05] Lukasa commented on #1906
What does your multiprocessing code look like? If you're sharing `Session` objects across processes, bad stuff will happen. =)

[2014-02-08 13:14] ssbarnea commented on #1906
I was not sharing any session, in fact I was calling a function on each thread, passing a parameter and inside this function I has my code which was creating a session, performing 2-3 requests and returning. I know, strange.

[2014-02-08 13:16] Lukasa commented on #1906
That's very odd. Is it easily reproducible?

[2014-02-08 15:00] sigmavirus24 commented on #1906
@ssbarnea can you at least share the URL so that we can attempt to reproduce it? So far I think we have almost sufficient information, we just need the URL or characteristics of the server to reproduce it:
- Multiprocessing using _10 threads_
- Function that instantiates a Session and makes more than one request (ostensibly to the same server) with it.

[2014-02-17 14:18] sigmavirus24 commented on #1671
@Lukasa do we still want to do this?

I can't think of a better name for the attribute frankly, but a better implementation might be:

[code]

That should be slightly faster than checking if the header is in the dictionary and then retrieving it.

I don't like `asserted_host` at all.

I continue to be :-1: on changes like this though. Further, do we even do any of the certificate name checking or

[2014-02-17 16:19] grampajoe commented on #1848
How would this be implemented? Is it for Requests developers, users, or someone else?

[2014-02-17 16:25] shshank commented on #1848
How about adding a report functionality, where you specify the reporting, which defaults to report.python-requests.org ? I would like to implement this, once we have a clear idea on exactly what we want to report.

[2014-02-17 16:26] shshank commented on #1848
I mean where we specify the reporting URL.

[2014-02-17 18:31] Lukasa commented on #1671
Mm, urllib3 seems to do it. Maybe that's the place to look.

[2014-02-17 18:33] Lukasa commented on #1848
The primary use-case here is to avoid Kenneth getting spammed with bug reports in his inbox that basically go: "This website doesn't work for me in Requests". I'm open to this being a more general service like @shshank suggested, but right now our interest is in getting that crud off Kenneth's plate and onto mine and @sigmavirus24's. =)

[2014-02-18 05:06] sdog869 commented on #1573
How hard would it be to throw an error on this condition? I just ran into this silly problem and it took two hours to figure out, it would be nice if it would throw an error, it currently just sits there looping. Thanks for the awesome library!

[2014-02-18 07:49] netheosgithub commented on #1648
I have the same exact use case : uploading data to a server that does not support chunked encoding. Data length is known in advance, but does not come from a file (from a generator).
I expected that setting a content length header would disable length calculation in requests, and also disable chunked transfer encoding.
By now I manage to work-around this problem by adding an additional 'len' attri

[2014-02-18 08:39] Lukasa commented on #1573
Wait, it sits where looping? Where in execution do we fail? Can you print the traceback from where we loop?

[2014-02-18 08:45] Lukasa commented on #1648
@netheosgithub I'd argue that changing this behaviour absolutely constitutes a change in the API. Consider the current state of the API, [from the documentation](http://docs.python-requests.org/en/latest/user/advanced/#chunk-encoded-requests):

Note that the documentation _doesn't say_ "To send a chunk-encoded request, simply provide a generator and do not set the Content-Length header." This make

[2014-02-18 08:56] netheosgithub commented on #1648
Currently, providing  a generator and specifying a content-length is an error (it generates an invalid http request), so this use case should not be used by anybody. That's why I was thinking it would not break your user's programs.
Why generators ? Data is not always provided by a file like object. For example, I'd like to watch upload progress by yielding data chunk by chunk, etc. (otherwise I'd

[2014-02-18 09:06] Lukasa commented on #1648
If only your 'invalid HTTP request' argument was valid. I wish I lived in that world. However, many many servers will surely happily accept such a combination.

RFC 2616 provides [this illuminating section](http://pretty-rfc.herokuapp.com/RFC2616#message.length) on determining the message length:

To clarify: we are in agreement that Requests is doing the wrong thing. However, we are _not_ in agre

[2014-02-18 09:08] Lukasa commented on #1648
I should also point out that any server that fails with chunked encoding is also in violation of RFC 2616:

This is not an attempt to say that Requests shouldn't fix this problem, it's simply to point out that everyone involved is violating RFC 2616.

[2014-02-18 09:13] bryanhelmig commented on #1648
One of our use cases was taking a possibly very large file with a know size from one service and uploading it to a second service, except the binary data was simply one of the parts of a multipart POST (with JSON metadata as the other) that the second service required.

So we wrapped the multipart builder in a generator; one we could know the size of. It seemed like a very obvious and useful solut

[2014-02-18 09:18] Lukasa commented on #1648
@bryanhelmig Mm, yes. I think the correct solution there is from now on to use the [requests toolbelt](https://github.com/sigmavirus24/requests-toolbelt)'s streaming multipart encoder.

Right now though, it's unclear to me why there is such strong resistance to using file-like objects here.

[2014-02-18 19:11] t-8ch commented on #1671
It should be possible to create a TransportAdapter for `https://192.168.X.X/` which passes the `assert_hostname` parameter to urllib3, which tell urllib3 to use another hostname.

[2014-02-19 07:40] gholms commented on #1648
In issue #1895 I encountered this issue even with a file-like object.  The request was a PUT, and the file-like object happened to be sys.stdin, which is in fact so file-like that it triggered chunked encoding like it does for a regular file.  Providing a Content-Length (which I learned via outside means) in this situation caused HTTPAdapter.send to not do chunking like one might expect, but Prepa

[2014-02-19 07:45] Lukasa commented on #1648
@gholms Nope. `sys.stdin` is so _not_ file-like it triggered chunked encoding. If you pass us a file object we will stream it, not chunk it. The problem with `sys.stdin` is that it has no length, which falls under the description provided in the docs as mentioned above:

The general expectation is that users will never explicitly set the Content-Length header. This is because Requests may end up m

[2014-02-19 08:50] Lukasa commented on #1648
Anyway, this discussion has gone on long enough. When provided with a lengthless iterator and a user-supplied Content-Length header, we have these options:
1. Raise an exception.
2. Blow away the Content-Length header
3. Don't chunk.

Any of these three options brings us into compliance with the RFC. It is clear that everyone raising this issue prefers (3). @sigmavirus24?

[2014-02-19 17:15] sigmavirus24 commented on #1648
I've always been of the opinion that we should blow away the header. In my experience the user thinks they know what they're doing but rarely know enough to actually know what they're doing. I generally like to let the user shoot themselves in the foot and we've done that until now and it hasn't gotten us much. In fact, we had the opportunity to blow away that header before and specifically didn't

[2014-02-19 17:57] jazzycamel commented on #1622
Are there any known workarounds that can be used in the meantime?

[2014-02-19 18:22] schlamar commented on #1622
For what? It seems very unlikely (even impossible) that you have an proxy supporting only HTTPS. If your browser works via proxy requests should work, too.

[2014-02-19 18:24] sdog869 commented on #1573
It seems to hang right here:

r = requests.get(url,
                         auth=headeroauth,
                         cert=self.cert_tuple,
                         headers=headers,
                         timeout=10,
                         verify=True)

I tried turning the timeout out up or down to no avail, but I imagine it knows well before the timeout it can't use the cert. Thanks!

[2014-02-19 22:06] Lukasa commented on #1573
Ah, sorry, I wasn't clear. I meant to let it hang and then kill it with Ctrl + C so that python throws a KeyboardInterrupt exception, then to see where we are in the traceback. I want to know where in Requests the execution halts.

[2014-02-20 05:37] sridevikoushik31 commented on #713
Any update on this?
This would be very useful for our use case (Uploading large objects to openstack swift.)
We're awaiting this feature.

[2014-02-20 07:09] Lukasa commented on #713
There's been no progress on this, and it's not high on the list of priorities for any of the core development team. This is only likely to happen any time soon if someone else develops it. =)

[2014-02-20 19:12] Lukasa commented on #1648
I'm inclined to agree with you @sigmavirus24. I'll see if I can get a few minutes with Kenneth at some point soon to talk this over with him.

[2014-02-21 22:39] reticulatingspline opened #1928 "Limit overall execution time"
This seems known but timeout in the .get() function only works if the server doesn't respond. Is there a way to have this also apply to the entire request? (grab a MP3 stream, file too large, site is responding but is too slow?) I'm utilizing requests in an application that grabs only 1MB of each page via .iter_content() for detecting MIME but have some issues where sites are so entirely slow that

[2014-02-21 22:49] Lukasa commented on #1928
Thanks for raising this issue!

The answer is 'yes', sort of. When not streaming the download we apply the supplied `timeout` value to both the connection attempt and the read. However, currently, when streaming the download we only apply the timeout to the connection attempt.

There's an ongoing discussion about how best to handle read timeouts, but right now we don't do anything useful for you t

[2014-02-22 19:16] adonoho commented on #1928
Gentlefolk,

While I am a brand new user of Requests, I do run into the problem where a long running stream does not timeout, it just hangs. In my case, I'm connecting to the Twitter streaming endpoint using `session.iter_lines()`. The loop is trivial:

[code]

`twitter_sample()` looks like:

[code]

As this is a long running stream from Twitter that occasionally just stops, I need to be able to r

[2014-02-22 19:30] Lukasa commented on #1928
Hi there, and thanks for using requests!

As I mentioned above, there's an ongoing discussion on how best to handle the multiple timeouts. As a temporary workaround before we come up with something better, you can monkeypatch the `TimeoutSauce` internal class.

**Please Note: The following involves monkeypatching a class that is an implementation detail of requests. Be aware that we may change thi

[2014-02-22 20:49] adonoho commented on #1928
@Lukasa,

Thank you for the monkey patch. I have it running on a test stream right now. I understand using this patch is on my own recognizance. That you disavow all knowledge of its existence and will deny that you were ever involved. ;-)

There are three main reasons I've moved to using your general purpose stack. First, I'll be able to use this knowledge elsewhere. (The database I use, Couchbas

[2014-02-24 13:19] andrewtryder commented on #1928
Hi guys,

Thanks for the responses.  Lukasa, outside of the patch there, do you have a gist or sample of the code I could see working in real time?

I briefly mentioned my usage. Here's something more complete: I use requests to basically grab the "information" about a URL pasted. What it does is go to the url, parse what it can based on content.type (what the HTTP server responds with) and also d

[2014-02-24 14:30] adonoho commented on #1928
@Lukasa,

I've had the patch running for two days now and it appears to have properly detected hangups from Twitter. My app then safely restarts the connection.

I'm looking forward to your full featured solution. Rest assured though that it is needed and will be used.

Anon,
Andrew

[2014-02-24 19:13] Lukasa commented on #1928
@reticulatingspline Yes, this won't work for your use-case, I'm afraid. The read timeout function is at the scope of an individual socket `recv()` call, so that if the server stops sending data for more than the read timeout we'll abort.

If you really want to set a maximum length you'll need to use `stream=True` and `iter_content()` in small chunks. The read timeout will then apply to each `iter_

[2014-02-24 19:20] andrewtryder commented on #1928
@Lukasa

I was testing this out with it and it seemed to work:

[code]

I'd call get within the try/except after a with time_limit(10):

That seemed to work.

Same concept?

Thanks.

[2014-02-24 19:22] Lukasa commented on #1928
Yeah, same concept. =)

[2014-03-05 23:05] crizCraig commented on #1906
Started getting this as well running https://github.com/edx/dyno-slayer

Problem started when changing:

[code]

to:

[code]

[2014-03-06 01:59] sigmavirus24 commented on #1906
@crizCraig I'm not familiar with that project. What is the significance of those values? Are they:
- Configuration file values?
- Environment values?
- Other?

[2014-03-06 03:01] crizCraig commented on #1906
Sorry, those just define a length of time to sample heroku logs via their API. The entire program is this file:

https://github.com/edx/dyno-slayer/blob/master/scripts/slayer.py

[2014-03-06 07:10] Lukasa commented on #1906
We need substantially better diagnostics than that I'm afraid. =) Can you provide us a traceback, for instance?

[2014-03-07 14:36] sigmavirus24 commented on #1906
I wonder if someone who works @heroku could give us a hand. They might have some insight. @catsby can you give us some info about the SSL configuration on a default Heroku box? Can you point us at someone who can?

[2014-03-11 22:37] dstufft opened #1947 "Optionally depend on certifi"
Right now requests (afaik) doesn't issue security releases for old versions or have any sort of support period for any versions of requests other than the latest. This is problematic because requests bundles the CA bundle as part of the code base. This means that people *must* upgrade requests in order to get access to the latest certificates. This becomes even more problematic when people are on

[2014-03-12 07:02] Lukasa commented on #1947
@kennethreitz I'm open to doing the work here if this is something you think you'd like.

[2014-03-12 08:58] mortoray commented on #1928
Any idea on when we can expect a total connection timeout option? The workarounds don't seem as appealing as a simple "total_timeout" option would be.

[2014-03-12 09:52] Lukasa commented on #1928
@mortoray There is no schedule on this feature. Kenneth has expressed ambivalence about the quality of the API, and we won't implement anything until we've got an API he's happy with.

[2014-03-13 15:49] zackw opened #1952 "In `stream=True` mode, redirect-following crashes when body already consumed"
`Session.resolve_redirects` unconditionally accesses `Response.content`, to make sure that all of the content *has* been consumed, so the socket can be reused.  If you are manually following redirects, and you have set `stream=True`, and you use `Response.iter_content` to consume the entire body of a redirect before cycling to the next one, this access of `.content` will throw a `RuntimeError`.

T

[2014-03-13 15:54] Lukasa commented on #1952
Thanks for this, I'm marking this issue as fixed. =)

[2014-03-13 16:31] zackw opened #1956 "`Session.send` accepts arbitrary kwargs for the adapter, `.resolve_redirects` doesn't"
In addition to its documented set of optional arguments (`stream=`, `verify=`, `cert=`, `proxies=`), `Session.send` accepts arbitrary keyword arguments, which are passed directly to the adapter's `send` method. (For instance, `HTTPAdapter.send` also accepts a `timeout` argument.)  `resolve_redirects` logically ought to do the same, but it does not: it only accepts stream/verify/cert/proxies.  This

[2014-03-13 16:59] schlamar commented on #1952
@zackw can you please give more detailed steps to reproduce (code example or test case).

[2014-03-13 19:10] Lukasa commented on #1956
Yeah, we should be passing all the keyword arguments through.

[2014-03-14 13:37] sigmavirus24 commented on #1956
:+1: Nice find.

[2014-03-20 06:30] Lukasa opened #1969 "Better Document SNI and PyOpenSSL Support"
It looks like the standard library [might start directing more people our way in order to get SNI on Python 2.7](http://bugs.python.org/issue5639#msg214170). This is great, but right now we don't really document it, and we don't test it. I think we should do both.

This means
- new CI environment that installs our SNI dependencies and actually tries to use it.
- better docs.

[2014-03-20 13:43] sigmavirus24 commented on #1969
:+1:

[2014-03-20 13:46] Lukasa commented on #1969
No guarantees, actually, I've seen chats on Twitter that suggest that Nick Coghlan might be chatting with Christian and Alex about fixing 2.7. We're a bit in limbo here.

[2014-03-20 17:43] darshahlu commented on #1787
Is this bug fixed yet?

I am getting this same "socket.timeout: timed out" exception when using requests with a particular embedded device.

The exception occurs even when I use Session with max_retries argument: session.mount('http://', HTTPAdapter(max_retries=10). I'm guessing that when the "socket.timeout" exception is translated to a requests-based exception, that max_retries will catch it and

[2014-03-20 18:05] Lukasa commented on #1787
@darshahlu To be clear, are you actually getting a `socket.timeout` exception, or one that has been wrapped? Can I see the full exception text?

[2014-03-20 18:21] darshahlu commented on #1787
@Lukasa Sure, here is the full exception (starting at requests code):

  File "C:\dev\virtualenvs\py27mft\lib\site-packages\requests\sessions.py", line 395, in get
    return self.request('GET', url, *_kwargs)
  File "C:\dev\virtualenvs\py27mft\lib\site-packages\requests\sessions.py", line 383, in request
    resp = self.send(prep, *_send_kwargs)
  File "C:\dev\virtualenvs\py27mft\lib\site-package

[2014-03-20 18:35] Lukasa commented on #1787
Ok, so it looks like there's a fix for the exact issue in the GH issue (unwrapped socket error), so that's something.

I don't think `max_retries` will help you here. As far as I recall, `max_retries` only retries if errors are occurred during connection, which is not happening here. Here, we're timing out our attempt to read the response.

You say you took a packet trace and can't see the differe

[2014-03-20 20:34] darshahlu commented on #1787
Absolutely.  Thanks for taking a look!

There are two traces--one with the issue and one without.

Issue trace:
https://drive.google.com/file/d/0B7V4ToYxdpLwVjFDRmVIUXF4b28/edit?usp=sharing

No Issue trace:
https://drive.google.com/file/d/0B7V4ToYxdpLwSlNKY2NZZW1FSVk/edit?usp=sharing

In the issue trace, you can see that the server continually retransmits the FIN,ACK--as if it never received the c

[2014-03-23 11:52] Lukasa commented on #1906
@crizCraig Ping. =)

[2014-03-28 11:20] costinb7 opened #1979 "Authentication Handlers lost on redirect."
I'am trying to use the requests library by making a redirection with  Digest authentication method, but the response is 401. I mention that it works with basic authentication. I've captured the packets with wireshark, and noticed that the first HTTP request is without the Authorization header, the 401 unauthorized answered is received, and after that the traffic continues as it should be, the Auth

[2014-03-28 11:35] Lukasa commented on #1979
Wait, I'm confused. Your description of the wireshark trace suggests that everything is happening as expected, but you're getting an unexpected status code?

[2014-03-28 12:24] costinb7 commented on #1979
Yes, but in fact, I don't know if it is happening _exactlly_ as it should be. I tried to make a redirection from http to https. When I try with a browser it works well, and also it works well when using requests with Basic authentication. When using with Digest, what happens is as I described above (+ the https message exchange: server hello, server hello done, client key exchange, change cipher s

[2014-03-28 13:12] Lukasa commented on #1979
Can I see some sample code?

[2014-03-28 15:26] costinb7 commented on #1979
The sample code is very simple:

url1 = 'http://192.168.40.248/param.cgi?action=list&group=root.AutoTracking'
res = s.get(url1, auth=requests.auth.HTTPDigestAuth('user', 'pass'), verify=False)
print res.status_code

The url1 address is automatic redirecting to : "https://192.168.40.248/..."(the same url but with https).
So, the above code prints: "401"

If I change the authentication class to HTTP

[2014-03-29 09:17] Lukasa commented on #1979
What version of requests are you using, and where did you install it from?

[2014-03-31 14:57] costinb7 commented on #1979
I am using requests-2.2.1, I've downloaded it from here: https://pypi.python.org/pypi/requests (requests-2.2.1.tar.gz).

[2014-03-31 15:40] Lukasa commented on #1979
Aha, ok.

I don't think auth handlers can handle an auth challenge that occurs _after_ a redirect: I think we lose track of the auth handler. @sigmavirus24 does this match your reading of the code?

If that's the case, do we consider that behaviour a bug?

[2014-03-31 15:41] Lukasa commented on #1979
Note: I'm renaming this issue to more accurately reflect the bug.

[2014-03-31 15:49] costinb7 commented on #1979
In the case of basic auth, the header is kept (basic auth works with redirection). In the release history, one of the updates from version 0.7.4 to version 0.7.5 is : "Redirection auth handling." , which suggests that this problem was treated.

[2014-03-31 15:53] Lukasa commented on #1979
@costinb7 Can you print the following things for me?

[code]

[2014-03-31 16:31] costinb7 commented on #1979
This is the result for the Digest auth:
- for the first line:
  ['Digest username="root", realm="AXIS_00408CC5845E", nonce="0000125dY1917315e1e3668a12ee27b941e936bef5eb05", uri="/axis-cgi/param.cgi?action=list&group=root.AutoTracking.A0.Running", response="f04e66d4f1efffc1d3021866d2a1e784", qop="auth", nc=00000001, cnonce="bfaa00a7e5656fc6"', '']
- for the second line:
  ['', 'Digest realm="AXIS_0

[2014-03-31 17:17] Lukasa commented on #1979
Oh, right, I get it now.

HTTP Basic and HTTP Digest are handled very differently in requests. HTTP Basic just applies a flat Authorization header to each request: HTTP Digest makes its own authentication challenge response. The important thing is that it'll only do that once: if challenged a second time, it aborts. That's exactly what's happening here.

My question is, should we try to distinguis

[2014-04-02 15:13] costinb7 commented on #1979
If you are asking me, yes it would be great if this distinction could be made.

[2014-04-03 05:57] thegeekchick commented on #713
Are there any updates on this bit? We're facing an issue and 100-continue can help make our lives much better.

[2014-04-03 06:05] Lukasa commented on #713
See my above comment.

[2014-04-07 20:58] wtip opened #1996 "MIME type no longer set on file upload"
I have the following code that was working fine with requests 1.2.0 but is not working with 2.2.1
[code]
The code runs without errors but the image is not uploaded. The upload page rejects the post due to unsupported file type. I did a tcpdump capture while running the code with both versions of requests. The main difference I saw was that requests 1.2.0 properly sets Content-Type: image/jpeg whil

[2014-04-07 21:08] Lukasa commented on #1996
Are you expecting the `Content-Type` header on the request or on one of the parts of the multipart upload?

[2014-04-07 21:09] wtip commented on #1996
I am expecting Content-Type on the second part of the multipart upload. This is properly done with requests 1.2.0

[2014-04-07 21:18] Lukasa commented on #1996
Hmm, yup, from looking at the code it's clear that we no longer guess the MIME type of the uploaded file. I wonder if that was deliberate.

Looks like it went away in af4fb8cedca7c331b8c914a40c477a2cb02055e1 (part of #1640) when we switched to explicitly using `RequestField` objects. Assuming we're happy to guess MIME types I'm happy to put it back. @kennethreitz, should we be guessing MIME types

[2014-04-07 21:45] wtip commented on #1996
If it was intentional it would be nice if this would be put in the migration guide.

In trying to figure this out I saw that the mime type guessing code moved over to https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/fields.py with `def guess_content_type` but doesn't seem to be working?

[2014-04-07 21:46] Lukasa commented on #1996
It's not that it's not working, it's that it's not hit. We explicitly create `RequestField` objects, which don't do any content-type guessing.

[2014-04-12 04:07] sigmavirus24 commented on #713
For those interested, this is probably not possible with our current stack. We talked with @durin42 tonight and it seems that httplib just swallows the 100-Continue and does not really wait for it either. This may be far more difficult than originally thought.

[2014-04-12 18:49] athoik commented on #1969
Until python 2.7 supports SNI, maybe we can make use of https://github.com/trevp/tlslite ?

[2014-04-12 18:51] Lukasa commented on #1969
We do support SNI. =) We just don't support it in an obvious way. Given the option between using pyOpenSSL and tlslite we're always going to choose pyOpenSSL. tlslite has very limited ciphersuite support and just generally lacks the features we need.

[2014-04-15 04:18] pjjw opened #2003 "auth kwarg cannot be used to authenticate an HTTPS request through a HTTP proxy"
i mean so this is probably more of a rant than an issue, but that was 3 hours i won't get back.

was trying to pipe requests through a squid proxy in a lights-out environment. credentials come from a data store separate from configuration, so seemed reasonable to use requests.auth.HTTPProxyAuth(l, p) as the auth kwarg as (what i thought) a supplement to the proxies dict fed to the proxies kwarg. t

[2014-04-15 14:28] Lukasa commented on #2003
Yeah, agreed: I think we should aim to remove `HTTPProxyAuth` in version 3.0.

[2014-04-15 19:04] sigmavirus24 commented on #2003
:+1: for 3.0 removal.

[2014-05-12 08:41] jbaiter commented on #1648
I'm in the same boat as @bryanhelmig and @netheosgithub, I have a generator where I know in advance what size the combined chunks will have, and have a server that does not support chunked uploads (a WSGI app, WSGI according to my research does not support chunked encoding at all). The data from the generator is too big to fit into RAM, so combining the chunks before and passing it to requests is

[2014-05-12 13:36] sigmavirus24 commented on #1648
@jbaiter then what you need is to pass an object that behaves like a file with a `__len__` defined. Take, for example, [the toolbelt's MultipartEncoder](https://gitlab.com/sigmavirus24/toolbelt/blob/master/requests_toolbelt/multipart/encoder.py#L19). You want streaming, so in general all you need is something like this which has a `read` method and a way of determining its length (preferably by im

[2014-05-12 13:51] jbaiter commented on #1648
Thanks @sigmavirus24 :+1:, I did precisely that, i was just wondering if by now there was a more elegant way to go about it

[2014-05-12 13:54] sigmavirus24 commented on #1648
Perhaps there's a good way of providing this via the toolbelt, eh @Lukasa ?

[2014-05-12 18:06] Lukasa commented on #1648
@sigmavirus24 Absolutely. =)

[2014-05-13 02:33] sigmavirus24 commented on #1648
@Lukasa any feedback on https://gitlab.com/sigmavirus24/toolbelt/merge_requests/2

[2014-05-24 18:34] joe42 opened #2062 "Default Authentication Overwrites Authentication Header"
Hi,

And thanks for maintaining requests. When I set an Authorization header in a request, I do not expect it to be overwritten. I set up default credentials in my .netrc file (for automatizing the cadaver command line tool), and suddenly I could not authenticate to my service any longer.
Please check if an Authorization header does already exist in your default authorization handler, instead of o

[2014-05-24 18:41] sigmavirus24 commented on #2062
Hey @joe42 There are several headers we don't expect users to set on their own because they really shouldn't be. If you want to prevent us from overwriting the header you should use the `auth=` parameter to your request. By default it takes a two-tuple (username, and password) or any other Authentication Handler.

[2014-05-24 21:10] joe42 commented on #2062
@sigmavirus24 Sorry, I should have mentioned that I already circumvented the problem by writing an authentication handler that does not modify the request. My post was meant as a suggestion to improve requests, as I suppose other users might run into the same problem.

I see. I do set several headers directly. Can you point me to a resource explaining which headers should not be set and why? Setti

[2014-05-25 09:55] Lukasa commented on #2062
This is another of those situations where the right thing to do is not entirely obvious. For instance, what _should_ the output be if this happens:

[code]

Which of the two do we respect first? Our general principle is to respect the specific argument over the general one: `auth` over `headers`, `body` over Content-Length header etc.

For this reason, if you _can_ auth via an Auth handler you sho

[2014-05-25 10:21] joe42 commented on #2062
@Lukasa : I can understand why you choose to design it this way. But I think that the result of the following request with default credentials in .netrc  is not obvious at all. The point I do still not get is that I cannot imagine a case where a user would actually set a specific header (like in your example) and not expect it to be used by requests. Why should he bother doing this? So it might be

[2014-05-25 18:13] sigmavirus24 commented on #2062
I appreciate that you've shared your opinion @joe42. You're right that `explicit is better than implicit` and in this case you can explicitly turn off requests using your `.netrc` file. With it off, you wouldn't have this trouble. That said, the documentation should be improved to explain which headers users should refrain from setting themselves. We will not try to internally keep track of which

[2014-05-26 15:44] migurski commented on #2062
I had a related problem in #2066.

My issue arose using Heroku’s API, which has two confusing factors relevant to this issue. The toolbelt [quietly creates a .netrc file](https://devcenter.heroku.com/articles/heroku-command#logging-in) (mine was a year old; I didn't know it existed) and Heroku asks users to [create a custom Authorization header](https://devcenter.heroku.com/articles/oauth#web-appl

[2014-05-26 16:02] Lukasa commented on #2062
First, I'd like to address something:

Your searching was not terribly effective. The [docs front page](http://docs.python-requests.org/en/latest/) contains a heading entitled 'Authentication'. [That section](http://docs.python-requests.org/en/latest/user/authentication/) contains a heading entitled [netrc Authentication](http://docs.python-requests.org/en/latest/user/authentication/#netrc-authent

[2014-05-26 16:07] migurski commented on #2062
You’re right, I don't know how I missed that section and it mentions .netrc. My mistake!

[2014-05-26 16:08] Lukasa commented on #2062
@migurski Whew, I was worried we had a bigger discoverability problem. Our docs are pretty large, sadly, which makes it easy to miss things. =(

[2014-05-26 16:16] migurski commented on #2062
A central explanation of the headers approach you describe linked throughout the docs, wherever `headers` is documented, would be amazingly helpful. It’s counterintuitive to me for certain headers, but I respect that Requests has a design intent here. Thanks for an excellent library!

[2014-05-26 16:20] joe42 commented on #2062
@Lukasa: Thanks for your detailed answer.

It would be great if you could add this sentence to the "Custom Headers" section, after it states:

[2014-05-26 17:08] Lukasa commented on #2062
@sigmavirus24 Do you feel like this would be a good addition to the docs?

[2014-05-26 18:28] sigmavirus24 commented on #2062
I feel like there have been a small number of users very violently surprised by the fact that we don't analyze the headers and do "smart" things based upon their presence (or lack thereof). I think adding to the Custom Headers section to say "By the way, we do no analysis of the headers you set so setting different headers will have no effect on the way requests handles your request." We should al

[2014-05-26 18:33] migurski commented on #2062
At minimum, include a link from places where the `headers` param is documented. “Simply pass in a dict” is not accurate without some explanation of order of operations: first the dict is applied, then the environment is inspected for conflicting information to use instead.

[2014-06-07 00:09] kaisarea commented on #1236
I am still having this problem. Is this because it has not been corrected or because I am using an old version of urllib3 or requests library?

[2014-06-07 09:22] Lukasa commented on #1236
Which exact problem are you seeing?

[2014-06-09 20:33] kaisarea commented on #1236
[code]

[2014-06-09 20:35] kaisarea commented on #1236
I am catching this:
  except requests.exceptions.Timeout:

[2014-06-09 20:35] kaisarea commented on #1236
But it does not seem to be enough. I am not using any of the low level libraries explicitly. I was hoping I could simple use the requests library to handle all my HTTP requests. Now I am trying to see how I can catch that exception. I guess I am gonna have to import the socket library as well or maybe even urllib. But it would seem to be little bit contrary to the intent of the requests library to

[2014-06-09 20:58] sigmavirus24 commented on #1236
You seem to have misunderstood this bug. It is still open because it remains broken.

[2014-06-09 21:10] kaisarea commented on #1236
I was wondering if that's the case. Thank your for your response. I'll try

import socket
..
except socket.timeout:
..

[2014-07-02 16:02] brandon-rhodes opened #2118 "Let the user provide an SSLContext object"
The requests library seems to grow more and more keyword arguments to try to provide all of the flexibility that SSL users need. As of Python 3.2, the Standard Library now offers a different approach: an `SSLContext` that can accept settings for TLS protocol version, CA certificate list, identity certificate, secret key, allowable cipher list,  Diffie-Hellman parameters, server-name callback funct

[2014-07-02 16:11] sigmavirus24 commented on #2118
I'm not sure if you mean the fundamental `get/post/put/delete/head/options/request` methods/functions, but if that is what you're referring to, those haven't changed since before 1.0 was released. If you mean that there's an increasing amount of flexibility within adapters to fine tune this, then yes, you're correct.

We're very unlikely to start supporting a keyword argument on only one version o

[2014-07-02 16:15] Lukasa commented on #2118
Can we step back for a moment?

@brandon-rhodes I'm really not clear about what you mean by requests sprouting more and more keywords. We have two: `verify` and `cert`. Anything else is done at the `HTTPAdapter` layer on a case-by-case basis, which allows exactly what you've described.

What have I missed? What parameters are you identifying that I don't see?

[2014-07-02 16:24] Lukasa commented on #2118
Reading your post again @brandon-rhodes, I realise that your concern is not actually that we _currently_ have too many parameters, but that we might _end up_ having too many parameters. In this I agree with you.

However, I think requests should continue its proud tradition of solving the 80% use-case in the primary API and allowing the Transport Adapter API to help the remaining 20%. For this rea

[2014-07-02 16:39] brandon-rhodes commented on #2118
By **no means** did I intend to ignore @kennethreitz’s wishes! Alas. Opening this issue was, I had thought, precisely the means by which Mr. Reitz’s wishes could become known. Would there have been a more appropriate forum for asking my question?

Thank you, @Lukasa! Sorry if I worded the issue awkwardly and it required multiple read-throughs.

So the keyword arguments to `get()` and the other fun

[2014-07-02 16:49] sigmavirus24 commented on #2118
No. I just like to couch my positive replies in "But Kenneth might not want this, so don't get your hopes up". It might take him a while to get around to reading or replying though.

That is correct. There are currently a few good examples of this (like the SSLAdapter @Lukasa linked above).

Good news! @Lukasa has a blog post about building adapters for requests and we can both help you with build

[2014-07-02 16:59] brandon-rhodes commented on #2118
Okay! I will go take a look at them, and then come back later and comment again on this issue.

[2014-07-02 17:21] shazow commented on #2118
Supplying your own socket factory thing is indeed something urllib3 wants to support. We had some discussions about providing a class which "contains" all the parts you need to make an SSL contexted socket. (https://github.com/shazow/urllib3/pull/371#issuecomment-40299324 alludes to this)

For now, you'd need to set the `.ConnectionCls` property of a `*ConnectionPool` object to bring your own thin

[2014-07-02 17:23] Lukasa commented on #2118
Hooray for three person issue conversations! They're always so easy to follow. =) @brandon-rhodes, you've provided lots of great options for us. I'd like to try to enumerate them as I understand them, and then provide feedback on each of them. Please step in if you think I've left anything out or misunderstood something.
1. Make it possible to pass urllib3 a `socket`.

   I don't like this idea mu

[2014-07-15 13:30] dpursehouse opened #2132 "Add a CI build for the documentation"
There are builds for the various python version on ci.kennethreitz.org

It would be useful to also have one for the documentation build.

[2014-07-18 07:53] Lukasa commented on #713
To continue keeping this issue up to date, the HTTPbis WG is considering deprecating the entire 1XX series of status codes as an erratum to RFC 723[0-5]. It's not entirely clear that this will happen, but what _is_ clear is that the prevailing opinion in the WG is that `100 Continue` is bad.

The most recent relevant WG thread is [here](http://lists.w3.org/Archives/Public/ietf-http-wg/2014JulSep/1

[2014-07-20 11:31] EnTeQuAk commented on #2118
I'd vote for passing `SSLContext` around. I actually have a usecase for that (https://github.com/keybar/keybar/blob/master/src/keybar/utils/security.py#L53) and would love to pass around this config.

Tornado for example implements a fancy `ssl_options_to_context` (http://tornado.readthedocs.org/en/latest/netutil.html#tornado.netutil.ssl_options_to_context) which checks for a `SSLContext` object t

[2014-07-20 11:44] Lukasa commented on #2118
@EnTeQuAk I continue to be in favour of my option 2. =)

[2014-07-23 06:14] scoarescoare opened #2146 "Invocation of `SSLContext.load_verify_locations` causes intermittent hanging"
I have a background worker that makes many http requests to various APIs. I've found that every time my job runs, a few requests appear to just "hang" for quite a long time.
I've investigated further and it appears the requests are not actually hanging, but my python code "hangs" when it invokes `OpenSSL's` `SSL_CTX_load_verify_locations` function.

I forked `requests` and added some more logging.

[2014-07-23 07:04] Lukasa commented on #2146
I'm really interested to see what people can come up with here. I cannot see any good reason for `SSL_CTX_load_verify_locations` to hang.

[2014-07-30 15:01] maxnoel commented on #1573
What's happening (or at least what I've seen in many cases) is that OpenSSL, upon being given a password-protected certificate, will prompt the user for a password. It shows up in no logs (because the prompt is directly printed), and it doesn't time out because it's waiting for a user to press enter.

Needless to say, it's cubmersome, dangerous behavior when the code is running on a server (becaus

[2014-07-30 15:06] sigmavirus24 commented on #1573
@maxnoel I'm pretty sure this is in OpenSSL's hands but if you can answer @Lukasa's question (the last comment on this issue) it would be very helpful in giving a definite answer regarding if there was anything we can do to help.

[2014-08-01 18:10] zapman449 opened #2158 "Capture server IP address as part of a Requests object"
Please provide a way to query the request object for the IP address of the server connected to to fulfill the request.

Example:

    '74.125.225.242'

[2014-08-01 18:20] sigmavirus24 commented on #2158
Hey @zapman449!

Thanks for your suggestion! We really appreciate the fact that you took the time to file this. Unfortunately we're not adding anything new to the requests API at this time.

I'll wait for @Lukasa to chime in before closing this though.

[2014-08-01 22:28] Lukasa commented on #2158
Correct, we're not adding anything at this time. It's information that urllib3 could potentially expose, however, which would make it available through the `Response.raw` property.

[2014-08-02 08:53] kiarashplusplus opened #2159 "readline() takes exactly 1 argument (2 given)"
I'm trying to make connections with proxies. and some of the times I get this error. I put the traceback below.

The command I use is this: ``requests.get(w, verify=False, timeout=4, proxies=proxy)``
 `w` is a url and `proxy` is a dictionary.. something I make like this:

[code]

[code]

[2014-08-02 12:36] sigmavirus24 commented on #2159
What exact version of Python are you using? (e.g., 2.7.8)

[2014-08-02 12:37] Lukasa commented on #2159
Hi, thanks for raising this issue!

This is a known bug in the Python standard library, [issue 17849](http://bugs.python.org/issue17849). I have submitted a patch for this bug upstream, but it hasn't been merged at this time (despite being submitted in January). The best way to get this properly fixed is to try to agitate to get that patch merged.

We _may_ be able to fix this by doing #1869. @sig

[2014-08-02 14:35] sigmavirus24 commented on #2159
My only hesitation is @kennethreitz's previous resistance to the idea. Perhaps with the relatively recent release of the new version of HTTP/1.1 (which removes the necessity to support HTTP/0.9) he will be more willing.

[2014-08-02 15:18] Lukasa commented on #2159
I'm confident I could sell him on the idea. =)

[2014-08-03 04:15] glyph commented on #1969
Suggestion: rather than documenting `pip install pyopenssl ndg-httpsclient pyasn1`, turn it into a setuptools extra so you can `pip install requests[sni]` and get those dependencies so you only have to remember that one string.  (I always forget `ndg-httpsclient`.)

[2014-08-03 13:03] sigmavirus24 commented on #1969
@glyph there's a separate issue (#1995) for that. Feel free to ping Kenneth there.

[2014-08-17 02:27] alex commented on #1969
FWIW, it looks like the stdlib in 2.7 will support SNI (and a whole host of other things), just as soon as someone reviews and merges @dreid and my patch.

[2014-08-17 08:47] Lukasa commented on #1969
:cake:

[2014-08-20 23:43] johnboxall commented on #1236
Thanks @miikka for the explanation that let me reliably reproduce this error using HTTPBin's Drip endpoint:

[code]

I'm working around as @kaisarea suggested, catching both the `RequestException` exception and the `socket.timeout`.

[2014-08-25 04:26] requiredfield commented on #1155
Hey requests folks, new to the project and found my way here pretty quickly after browsing the docs and noticing requests uses a dict-like structure for headers and so can apparently silently drop headers when there are multiple with the same key. Is that documented anywhere? I looked and was surprised to not see that documented in any of these places but maybe I missed it:

http://docs.python-req

[2014-08-25 06:11] Lukasa commented on #1155
Hi there!

We actually don't have a bug here. =) Repeated headers are governed by very specific rules from [RFC  7230 Section 3.2](http://tools.ietf.org/html/rfc7230#section-3.2), which I'll reproduce here:

If you make a request to `https://github.com/` with curl or in a browser you'll see that it repeats the `Vary` header:

[code]

You'll also see that we fold those together:

[code]

This is a

[2014-08-26 17:46] Tech356 opened #2181 "Requests is slow to upload large files"
I am using requests to POST data to a server. In testing with a 14.4 MB file, `requests` took 16.5 seconds and `cURL` took 3.3 seconds. The following image shows the 3 tests I ran. The first bump is using `requests` with `MultipartEncoder` from `requests-toolbelt`. The second bump is just using `requests`. The last bump is `cURL`.
![request_speed](https://cloud.githubusercontent.com/assets/446219/

[2014-08-26 18:51] Lukasa commented on #2181
That's very interesting: can I see the code?

[2014-08-26 18:57] sigmavirus24 commented on #2181
So if you're using the `MultipartEncoder` then what happens is that the object is passed down to `httplib` which has a fixed read size of `8192` bytes. So it takes 1,844 reads to upload the file. If you're passing a file-like object to requests the same thing happens.

I assume that the graph you show is of your memory consumption. `cURL` is a bit more advantageous. Unfortunately there's no way fo

[2014-08-26 18:58] Lukasa commented on #2181
@sigmavirus24 Nope, that's a graph of network throughput (IIRC). We should be able to get this at least as fast, even if it means working out what the hell httplib is doing.

[2014-08-26 19:01] sigmavirus24 commented on #2181
Here are the relevant sections of [`http`](http://hg.python.org/cpython/file/5c585929658a/Lib/http/client.py#l865) and [`httplib`](http://hg.python.org/cpython/file/37ebb0d44808/Lib/httplib.py#l818)

[2014-08-26 19:04] Lukasa commented on #2181
Ugh, that's terrible. It really should use `sendfile` if that's available. (Which I imagine is what curl does.)

[2014-08-26 19:16] kennethreitz commented on #2181
@sigmavirus24  we should document this wealth of information you have in your brain :)

[2014-08-26 19:17] kennethreitz commented on #2181
We could add a "low-level details" section to the documentation. I think that would be wildly advanteous to our power users.

[2014-08-26 19:18] Lukasa commented on #2181
That's a neat idea. We can explain some weird edge-cases, like why the read timeout works the way it works.

[2014-08-26 19:19] kenneth-reitz opened #2182 "Add "Low-Level Internals" to documentation"
Feedback welcome, but I think this would be absolutely incredible to have.

[2014-08-26 19:29] Lukasa commented on #2182
:+1:

[2014-08-26 19:31] Tech356 commented on #2181
@sigmavirus24 The graph is from the networking tab of Windows Task Manger. It is indeed showing network throughput.

Here is the code for `requests` using `MultipartEncoder`.

[code]

And here is the code that is just using `requests`

[code]

And lastly, the command for `cURL`

[code]

Here is the output from `cURL`

[code]

It does not seem to make a difference whether `MultipartEncoder` is in u

[2014-08-26 19:34] Lukasa commented on #2181
Yeah, I gotta believe that curl is avoiding the small `send` chunks.

[2014-08-26 19:34] Lukasa commented on #2181
Oh how I hate `httplib`. Another item on my list of things to fix.

[2014-08-26 21:18] tychotatitscheff commented on #2182
:+1:

[2014-08-26 21:18] kennethreitz opened #2184 "Port test suite to pytest-httpbin"
https://github.com/kevin1024/pytest-httpbin

[2014-08-26 21:19] kennethreitz commented on #2184
Just attempted, but can't figure out how to use default funcargs with class-style tests.

[2014-08-26 21:26] sigmavirus24 commented on #2184
Duplicate of https://github.com/kennethreitz/requests/issues/2093 ?

[2014-08-27 05:36] Lukasa commented on #2184
Yup.

[2014-09-07 18:41] bmcorser commented on #2159
This also stops pip>1.3.1 from proxying to pypi from a more local cheeseshop.

[2014-09-07 18:46] sigmavirus24 commented on #2159
@bmcorser could you elaborate?

[2014-09-07 18:53] Lukasa commented on #2159
@bmcorser As discussed, this limitation is not in requests and there's really nothing we can do to speed things up. I recommend doing a code review of the patch I submitted to make it easier for the CPython maintainers to get it merged.

[2014-09-09 15:23] invisiblethreat opened #2214 "verify=False and requests.packages.urllib3.disable_warnings()"
As of 1.9 of `urllib3`, the following warning appears once per invocation:
[code]

When using `verify=False` would it be useful to also set `requests.packages.urllib3.disable_warnings()`?

I understand that this is a design decision that not everyone might agree with. :)

[2014-09-09 15:36] sigmavirus24 commented on #2214
I think you can disable these at a global level with the `warnings` module. Further, to work with logging (if I remember correctly) you need to reach into `urllib3` (and we document that), so I'm not against documenting this for users who are not going to use certificate verification for HTTPS connections.

[2014-09-09 16:59] Lukasa commented on #2214
I remain strongly in favour of leaving these warnings in place. Yes, they're annoying, but they're also there for a reason. If anything, I'm tempted to switch it off and replace it with one of our own! =P

[2014-09-09 22:24] sigmavirus24 commented on #2214
At this point it's fairly obvious that @Lukasa and I are -1 on this feature. @kennethreitz @shazow any opinions?

[2014-09-09 22:25] invisiblethreat commented on #2214
To some extent, I agree that the warnings are important, but I think that there are multiple factors that might need to be considered.

From a developer perspective, know that I know about this, I can just turn this off if I feel inclined. I'm newer to packages, so it when I read the docs, in the warning, that solution didn't actually work. I like the idea that @Lukasa presented about making somet

[2014-09-10 00:20] shazow commented on #2214
Yes, `requests.packages.urllib3.disable_warnings()` is a shortcut for turning it off using the warnings module's filtering.

I'd strongly recommend having some kind of warning to this effect. +0.5 on having the urllib3 one propagate, +1 if you want to put in the effort and adding a requests-specific one. -1 on having no warning.

If you'd like, we can make the urllib3 warning message configurable

[2014-09-10 06:13] Lukasa commented on #2214
Once again, I don't consider this message user-hostile, I consider it extremely valuable. You now know that pyvmomi has turned off TLS certificate verification, which is fairly important information!

That said, I don't object to us having a more requests-y way to silence it.

[2014-09-10 12:10] cecton opened #2215 "Using st_size on FIFO files or stdin will cause super_len to return 0 as the length"
Hello,

### Use Case
I run a process using ```subprocess``` and give the stdout as data of a POST request. Since it is a file-descriptor, it has a fileno, and ```super_len()``` "stat" the file descriptor and use the st_size to determine the length.

The problem is: if the st_size returned is 0, it is possibly due to other reasons, in this case: the length is not determined (despite st_size is 0).

[2014-09-10 12:29] Lukasa commented on #2215
Thanks for reporting this issue!

This is an interesting case. Here are my thoughts. First, on the positive side, the effect of this change is that we'd switch to chunked encoding for the upload. This is good, that's clearly the correct behaviour when passed a named pipe.

On the downside, how should we react to a user passing us a file of zero length to upload? Sending content-length 0 has always

[2014-09-10 12:44] cecton commented on #2215
Maybe we should check if the user has specified `Transfer-Encoding` in the header, because, according to the RFC, it conflicts with Content-Length and therefore there is no use to check the file size.

My code will look like this instead:

[code]

...which makes a lot more sense.

_Note:_ actually I just tested with curl and curl automatically removed the `Content-Length` because I specified `Tran

[2014-09-10 12:53] sigmavirus24 commented on #2215
Except we have a policy of _not_ doing that. We will check for the existence of headers specified by the user before trying to set those same headers (e.g., if you specify `'Content-Length': '10'`, we won't set that), but checking values of other headers is not currently acceptable.

That said, I'm +0 on the proposal of not returning anything that is non-positive from `super_len`. I think restrict

[2014-09-10 13:02] sigmavirus24 commented on #2214
Yeah, really I think this is a bug in `pyvmomi`. If they don't want to be embarrassed like this, they should be disabling warnings in their tool. It isn't our job to _not_ warn users that the connections some tool is making could expose them to MITM attacks because the tool is not performing certificate verification.

[2014-09-10 13:07] cecton commented on #2215
Ok @sigmavirus24 , I didn't know your policy about that but that sounds consistent.

I totally agree with you. This is definitely not acceptable, `super_len` has specific behavior depending the object it gets. So testing the non-positive value should be considered _only_ when using st_size of the stat of the fileno.

Maybe that's the best solution after all...

...or not guessing the size of a fil

[2014-09-10 13:31] invisiblethreat commented on #2214
Thanks for the discussion folks! I do appreciate everyone commenting, and helping me see the value in the way that things are done, and why. I was having a hard time seeing the more general cases! :)

Will work on a patch today, as time allows, to have a 'requests-y' way to silence. Feedback will be welcome!

[2014-09-10 13:31] Lukasa commented on #2215
Letting the user deal with it is not the requests way. If you know how big it is, by all means set the size, but we're going to be as helpful as we can be. I guarantee to you that most requests users passing something with a file descriptor are passing a real file: the case of passing a named pipe is certainly not the norm. =)

I'm happy with the proposal of not allowing non-positive values of `fd

[2014-09-10 20:03] requiredfield commented on #1155
Thanks for the thorough reply, @Lukasa. Great that requests' headers representation is not as wrong as I was afraid of. I'd think this would be worth documenting though, given that so many other libraries use a data structure which preserves multiple headers more closely to how they were sent, leading other requests users to maybe ask you the same thing I did.

Also worth logging a separate bug fo

[2014-09-10 20:20] Lukasa commented on #1155
I'm open to a separate bug for the cookies with semicolons. Documenting the joint headers is strictly optional, but I can see a value in having it be a note in one of the sections.

[2014-09-11 08:08] cecton commented on #2215
Ah, last update...

Actually now I have a problem with the server, I've never really tried the POST chunked and now that I'm testing it, it seems it's not implemented in werkzeug's server. I will have to parse the chunked content on my own...

So maybe I will fallback to the temporary file on the disk (^_^;) what a shame...

[2014-09-11 09:01] Lukasa commented on #2215
=P Chunked upload is frequently extremely poorly supported by servers, which is odd, because it's really not that complicated.

Note that you can force us to do a streamed upload by wrapping the file object in something with size. For example, you can try to use an intermediate file-like object (`BytesIO is tempting`). That only works if you can read all of stdin into memory, of course: if you can

[2014-09-11 10:00] cecton commented on #2215
No there is no way it would enter in memory... Actually they are database dumps and it seems, some of them are huge like 13GB.

But you're right, it doesn't look complicated to implement. I will think of it if I want to implement it for the server. On werkzeug I can use `request.input_stream` to access the raw body, so it's definitely possible, but I prefer to keep the code clean from very specifi

[2014-09-11 11:26] sigmavirus24 commented on #2215
@cecton is there any way that you can determine the size in advance? If so, I may have something you can use without having to implement anything yourself.

[2014-09-11 12:39] sigmavirus24 commented on #2214
@invisiblethreat feel free to hop into IRC if you have questions

[2014-09-12 16:55] sigmavirus24 commented on #2215
@cecton are you okay with me making the name of this bug a bit more clear/descriptive?

[2014-09-12 16:56] cecton commented on #2215
Sure!

On Fri, Sep 12, 2014 at 6:55 PM, Ian Cordasco notifications@github.com
wrote:

[2014-09-12 18:38] sigmavirus24 commented on #2215
Thanks @cecton

[2014-09-14 22:55] kevin1024 commented on #2184
@kennethreitz yeah, pytest makes this a bit awkward, so I just released a new version of pytest-httpbin to make this easier.  Check out this section of the readme: https://github.com/kevin1024/pytest-httpbin#using-pytest-httpbin-with-unittest-style-test-cases

Here is the example usage:

[code]

[2014-09-15 02:27] sigmavirus24 commented on #1969
If anyone picks this up, please also add documentation for `pip install requests[security]`.

[2014-09-16 01:27] kennethreitz commented on #2184
That's perfect, thanks! This will allow us to just use it for the baseclass.

[2014-09-16 01:44] kevin1024 commented on #2184
Cool! Let me know if you run up against anything else.

[2014-09-16 15:15] mountainpaul opened #2228 "Documentation examples."
Thanks for an excellent package. I believe the quick start examples should include a timeout value. This is the more common case, rather than the exception.

In the more advanced documentation it maybe wise to mention that sockets.getdefaulttimeout() is not used when a value is not specified.

[2014-09-16 15:26] Lukasa commented on #2228
Thanks for the suggestion! However, I disagree.

In many cases, users find it valuable to add a timeout to their calls. This is entirely reasonable. However, the quickstart code is not an example of 'general use', it's intended to be illustrative and educational. We should not obscure the pedagogical point in the pursuit of some form of pure correctness.

There is a [timeout section](http://docs.p

[2014-09-16 15:38] sigmavirus24 commented on #2228
@Lukasa I'm surprised that we don't use the default socket timeout. I'm more surprised that the "default" timeout is not automatically applied to a socket. That said, I don't think there's a good (or easy way) to handle adding this at this juncture. We could consider it for 3.0 but if we truly have no timeout set on sockets by default (which I'm prepared to believe), then we can't change it easily

[2014-09-16 16:44] mountainpaul commented on #2228
I disagree that it is sufficient as timeouts  are only mentioned at the
very bottom of the page.  Users often base their solutions off of examples
and don't read all the documentation, only what they need to get a result.
 While examples should be brief, they should not lead a user to writing
code that has a pretty strong potential to lock up.

The default socket timeout is used by urllib2 when a

[2014-09-16 17:25] Lukasa commented on #2228
Ordinarily it would be: this is a consequence of the way our library interacts with urllib3. We build a Timeout object with `None, None` as its values and send that down to urllib3. This looks for a sentinel object: if it finds it it'll set the timeout to the default. We aren't sending that sentinel object, we're sending `None, None`, which sets the socket timeout to `None`, which means it never t

[2014-09-16 18:17] sigmavirus24 commented on #2228
@Lukasa hit every point on the head. Moving forward we can repurpose this issue to discuss setting the default socket timeout _or_ we can close this and open a new issue to discuss that.

[2014-09-16 20:32] mountainpaul commented on #2228
On Tue, Sep 16, 2014 at 11:26 AM, Cory Benfield notifications@github.com
wrote:

Thank you one and all for your attention to this matter.  It is greatly
appreciated

[2014-09-16 20:35] Lukasa commented on #2228
Excellent, I think we're all on the same page! Now we just have to work out whether we can make this change before 3.0 or whether it's likely to break too many people's code. @sigmavirus24, you suggested we'd have to wait until 3.0: what makes you say that?

[2014-09-16 20:50] sigmavirus24 commented on #2228
So the current default for `timeout` is already `None`. It's also unclear how long ago we stopped using `socket.getdefaulttimeout()`. I'm not sure `timeout=0` will be clear enough to everyone either that it disables _all_ timeouts. I guess I'm more concerned with changing he API too dramatically. In the short term we can easily re-enable the usage of `socket.getdefaulttimeout`, I just can't think

[2014-09-16 20:59] Lukasa commented on #2228
I feel like `timeout=0` is probably clear enough.

I think we stopped using it when @kevinburke did his really major timeout work, and we didn't spot that urllib3 uses a sentinel object where we use the `None` pattern. Just some crossed wires.

[2014-09-16 23:23] newsham opened #2229 "full URL sent instead of path when using https proxy"
When using the requests library through a web proxy, requests includes a full URL in the request line instead of just the path for all https requests.  Http requests send just the path, as expected. Https requests send the full URL in place of the path.  This can cause problems with certain proxies (for example, the BURP proxy (http://portswigger.net/burp/download.html) will not properly process t

[2014-09-17 06:16] Lukasa commented on #2229
Hmm, I'm honestly not sure. My gut is saying that this is because having a HTTPS scheme in a proxy URL just doesn't really work.

[2014-09-17 14:19] sigmavirus24 commented on #2229
So I think this might also have something to do with the `CONNECT` verb which we use when connecting to an `https` proxy. I know that for `CONNECT` you have to pass the authority portion of the request URI (e.g., `www.yahoo.com:443`) but I'm not sure if the RFC (7231 or 7232 now) says anything about including the path. I might look that up over lunch

[2014-09-17 16:32] newsham commented on #2229
Compare this to the behavior of all other http request libraries (such as urllib) which do not send a full path for https proxies.

Tim Newsham | tim@isecpartners.commailto:tim@isecpartners.com | PGP: B415 550D BEE9 07DB B4C9  F96C 8EFE CB2F 402D 3DF0

From: Cory Benfield [mailto:notifications@github.com]
Sent: Tuesday, September 16, 2014 8:17 PM
To: kennethreitz/requests
Cc: Tim Newsham
Subject:

[2014-09-17 16:46] sigmavirus24 commented on #2229
To be fair, `urllib` is broken in many ways, so frankly comparing requests' behaviour to urllib's is not exactly a comparison that holds weight for me. If instead, you have a comparison to `cURL` that would hold more weight. Further if you can find the section in the RFC that declares how this should work, that'd be best.

[2014-09-23 21:29] brandon-rhodes commented on #2118
I agree: option 2 is the winner here, and will bring Requests up to the level of capability of the protocol modules in the Standard Library (http.client, smtplib, poplib, imaplib, ftplib, and nntplib) that all also support SSLContext parameters.

[2014-09-23 21:50] sholsapp commented on #2118
+1, option 2.

[2014-09-24 12:44] macterra commented on #2214
Just wondering if you considered the case where requests is used in a webhook. I have to suppress the warning so it doesn't pollute the JSON output of the script (or am I missing something?)

[2014-09-24 12:55] sigmavirus24 commented on #2214
@macterra I'm not sure I understand. Are you looking for alternative strategies for disabling the warning or ...?

[2014-09-24 13:43] Lukasa commented on #2214
It's also extremely unclear to me why your webhook is disabling certificate verification. I'd be wanting to leave that on.

[2014-09-24 16:04] shazow commented on #2214
Further, if you're piping stdout from some script to get the results, warnings will come out from stderr so they should not pollute your JSON output.

[2014-09-29 01:06] Dude-X opened #2255 "Session requests should respect verify=False"
Using a website that has a self-signed cert, the following use of verify=False fails:
import requests
s = requests.Session()
r = s.get('https://selfsignedsite')
_traceback_
r = s.get('https://selfsidnedsite', verify=False)
_traceback is the same about SSL3 not finding a valid cert_
requests.get('https://selfsignedsite', verify=False)
_traceback as above_

[2014-09-29 01:08] kevinburke commented on #2255
fails in what way?

On Sunday, September 28, 2014, Isaul Vargas notifications@github.com
wrote:

##

##

Kevin Burke
phone: 925.271.7005 | twentymilliseconds.com

[2014-09-29 01:12] isaulv commented on #2255
This traceback:

<pre>Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python2.7/site-packages/requests/sessions.py", line 463, in get
    return self.request('GET', url, **kwargs)
  File "/usr/local/lib/python2.7/site-packages/requests/sessions.py", line 451, in request
    resp = self.send(prep, **send_kwargs)
  File "/usr/local/lib/python2.7/site-p

[2014-09-29 01:23] sigmavirus24 commented on #2255
What version of requests?

[2014-09-29 01:31] isaulv commented on #2255
The latest release version 2.4.1

[2014-09-29 01:39] sigmavirus24 commented on #2255
I can't reproduce this at all. Can you share the site you're trying to make a request against?

[2014-09-29 01:43] kevinburke commented on #2255
also does chrome or Firefox load the site?

On Sunday, September 28, 2014, Ian Cordasco notifications@github.com
wrote:

##

##

Kevin Burke
phone: 925.271.7005 | twentymilliseconds.com

[2014-09-29 01:43] isaulv commented on #2255
Yes firefox and Chrome load the site fine.

[2014-09-29 01:43] isaulv commented on #2255
The site I was connecting to was <redacted>

[2014-09-29 01:48] sigmavirus24 commented on #2255
Using the regular functional API:

[code]

Using a Session:

[code]

[2014-09-29 01:50] sigmavirus24 commented on #2255
In otherwords, we do respect `verify=False`. You may be confused by the warning we emit when you disable certificate verification.

[2014-09-29 01:51] isaulv commented on #2255
I am not confused by the warning. Just follow the sequence of steps I outlined. Although it is not something I would do in writing the code that I want, I can see instances where if someone writes code to automate connections, and they want to drop back on not using verification, that this would bite them.

[2014-09-29 02:01] sigmavirus24 commented on #2255
Ah, I see what you mean. So this even had bizarre behaviour on 2.3.0:

[code]

This looks like it might be related to connection pooling. If on 2.4.1 I do this:

[code]

After making the request with `verify=True` you can see that it works just fine (iirc because it clears the pool manager).

[2014-09-29 06:57] Lukasa commented on #2255
Yeah, this is almost certainly connection pooling. urllib3 puts the connection back when SSL errors are raised, but I really don't know if we can safely do that. @shazow, @t-8ch, what are your thoughts about not re-using connections that raise SSL errors?

[2014-09-29 07:09] t-8ch commented on #2255
This should already happen here: https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/connectionpool.py#L542

[2014-09-29 07:15] Lukasa commented on #2255
[Not according to my reading](https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/connectionpool.py#L566-L570).

[2014-09-29 07:16] t-8ch commented on #2255
Yeah, you are right, but this is the place where it should be done :-)

[2014-09-29 07:18] Lukasa commented on #2255
My question was really whether you think it _should_ be done. =)

[2014-09-29 07:20] t-8ch commented on #2255
Either that, or the connectionpool should include the ssl parameters in the lookup process, so it does not reuse the wrong connection like in this issue.

[2014-09-29 15:00] shazow commented on #2255
Hmm, the configuration of sockets in a ConnectionPool should be homogenous. If they're not, then I'd consider this a bug. (That is to say, the configuration of a socket should probably not be affected by request-time flags but rather pool-construction-time flags.)

[2014-10-03 13:30] macterra commented on #2214
Right, if the warning is on stderr then no problem. I couldn't tell from looking at the output in the console, my mistake.

[2014-10-05 16:42] kennethreitz commented on #2214
I think we should customize this to point to the requests documentation instead of urllib3's documentation.

[2014-10-05 17:08] sigmavirus24 opened #2266 "Move utility functions from requests.utils to requests-toolbelt"
# Reasoning

requests is an _HTTP_ library, not an HTML library. Some of these utility functions are far more focused on HTML and a Response's body than on HTTP. With that said, they don't belong in requests proper. Instead they belong in a third-party library and currently the best place for that is requests-toolbelt.
# Path to removal

Step 1:
- [x] Add `DeprecationWarning`s to all of these func

[2014-10-05 17:11] kennethreitz commented on #2266
+1000000

[2014-10-05 17:37] sigmavirus24 commented on #1422
I wonder if our new Timeout system will fix this.

[2014-10-05 20:41] untitaker commented on #2266
Why `get_unicode_from_response`?

[2014-10-06 01:35] sigmavirus24 commented on #2266
We already provide the unicode in the response as `r.text`.

[2014-10-06 12:54] kankri commented on #2214
I'm not sure I understand what this warning feature is meant to achieve and how the warning is meant to be controlled.

I have a module which uses `requests` and has to make requests with the `verify=False` argument. This causes the users of my module to see the unnecessary warning. Unnecessary warnings make important warnings more difficult to see,

It would make sense for my module to disable th

[2014-10-06 13:01] Lukasa commented on #2214
When you set `verify=False` you are no longer securing your network connections. That, IMHO, is _not_ an unnecessary warning, it's a hugely relevant warning. Your users, who previously had no idea that you weren't verifying certificates, now know this to be true.

If the warning is not valuable for your module, it is not likely to be valuable for any other module in the application (once you've th

[2014-10-06 20:26] kankri commented on #2214
When the user explicitly requests `verify=False` for a particular request, I don't see the value of showing a warning. When I as a module author set `verify=False`, I set it by user's request (or I'm being malicious, but the warning doesn't help there either, because I can silence the warnings). Indeed, I want to avoid being malicious and don't want to globally silence warnings, because that takes

[2014-10-06 21:11] Lukasa commented on #2214
Who is the 'user'? Throughout your post this question kept coming to my mind, because I believe you're conflating two audiences.

Or you're being negligent. You have had had users complain that they couldn't interop with their self-signed certs and so you turned cert verification off, despite the fact that turning off cert verification is _not_ the way to deal with that problem.

This sentence baf

[2014-10-06 21:53] sigmavirus24 commented on #2214
This is also a bit baffling. By setting `verify=False` you maybe explicitly turning it off for just that request, but there is no way to convey that beyond the point where we construct our request. There's also no reason to convey it beyond that point because you've disabled certificate verification. The context in which you did so is of no consequence to us or anyone using your app.

[2014-10-07 10:29] kankri commented on #2214
My browsers allow me to permanently accept an unverified certificate, which is "monstrously insecure".

The connection is insecure in the way that you can't verify a digital certificate, but verifying a certificate doesn't really tell you whether the server you are talking to is secure. But when I'm talking to a server in a closed network I can really make sure the security of the server.

I'm try

[2014-10-07 14:08] kennethreitz commented on #2214
I agree with @kankri, for the most part. That was the original design intention.

I propose something — that we disable by default but have our own function for re-enabling it, or documenting how to turn it on. I don't want out users to have to go out of the way to use the code as intended. `verify=False` is a feature, albeit not a best-practice one. That's none of our business.

[2014-10-07 15:12] Lukasa commented on #2214
I agree that `verify=False` is a feature, but I don't agree that it's a feature on the same level as `params=` or `cert=`. It's a feature that defaults to a secure value and may be set to an insecure one. It's a giant, tempting option for people to throw security out the window for the sake of expediency, and I think that impulse should be resisted (but not disallowed). I will always lean towards

[2014-10-09 07:25] piotr-dobrogost commented on #2214
Just wanted to say I agree with @kankri and that @kennethreitz's remark

sums it up well.

[2014-10-09 12:56] ilovenwd opened #2272 "chunked encoding bug when release connection"
https://github.com/kennethreitz/requests/blob/master/requests/adapters.py#L404
I encounter a bug that will be fixed when remove this line.
Since the preload_content=False in HTTPResponse.from_httplib, we cannot _put_conn back to pool (where it's closed)

[code]

the code trigger this bug (just illustrate):

[code]

the first post gets normal response, while the second get empty response (conn clos

[2014-10-09 16:59] sigmavirus24 commented on #2272
Why aren't you using grequests?

[2014-10-10 06:13] ilovenwd commented on #2272
I look grequests code and find that the code is indeed what I do now use gevent.
Also, I need more control with the concurrency, the example code is just a simple demo.
I think this is a bug of requests.

[2014-10-10 15:50] sigmavirus24 commented on #2272
Can you provide something that actually allows us to reproduce this. We aren't going to just remove code because you asked us to. I modified your example a bit so that I could test it, and it in fact produces no problems for me.

[code]

[2014-10-10 18:30] mikecool1000 commented on #1956
Just to clarify, if i change:
`def resolve_redirects(self, resp, req, stream=False, timeout=None, verify=True, cert=None, proxies=None):`
to:
`def resolve_redirects(self, resp, req, **kwargs):`
I need to add in the lines:

[code]

and make sure to do:

[code]

before i use those variables?

(I'm new to the project and am slightly unclear on the purpose of changing this, clarification would be grea

[2014-10-10 19:09] sigmavirus24 commented on #1996
Hey @kennethreitz I was rummaging through issues and we never did get an answer from you. Was it intentional that content type guessing was removed? There's an API for the user to specify it now explicitly so we just might want to document this.

[2014-10-10 21:01] sigmavirus24 commented on #1956
Hey @mikecool1000 welcome to the project. So you can't simply change the function signature like that, here's why.

Right now, someone could be doing this:

[code]

If we then change the signature, even one extra positional argument will fail, e.g., try the following:

[code]

So you'd want to add `**kwargs` after the existing positional arguments (that have defaults). Maybe this will set you on t

[2014-10-10 21:56] mikecool1000 commented on #1956
Thanks that's very helpful

Sent from my iPhone

[2014-10-10 22:13] sigmavirus24 commented on #1956
@mikecool1000 if you need other help, please hop onto #python-requests on Freenode this weekend. If I'm around, I'll be happy to chat with you about this.

[2014-10-11 04:52] ilovenwd commented on #2272
I don't means remove the code is the correct way, just say where the bug is.

I change your code a little and produce the bug.
Note the connection pool size=2

[code]

output:

[code]

the 2nd and 3rd response is lost

[2014-10-11 13:22] sigmavirus24 commented on #2272
I haven't run the code yet, but this can (probably) be solved in a few ways:
1. Use grequests because it looks to do The Right Thing
2. Figure out a way to make gevent monkey patch the `queue` module with it's [own](http://www.gevent.org/gevent.queue.html) (although I have yet to test that this will work)
3. (And this will be the easiest) Use a separate session for each "thread". The problem is th

[2014-10-11 14:46] sigmavirus24 commented on #2272
So actually, the catch here is import/monkey patch order.

I'm willing to be the following will fix this:

[code]

@ilovenwd if you don't `patch_all` before import requests, it probably won't replace any usage of `RLock` used in the `LifoQueue` which is imported from `threading`.

[2014-10-12 13:24] ilovenwd commented on #2272
I change the code, but still the same issue.

[code]

the output is exactly the same.

I trace the code line by line, the real issue is that:
because preload_content=False, so the low_conn is put back to pool BEFORE content is consumed,
so other greenlet/thread may re-use this low_conn (and reset it maybe).
after that, the original client of the low_conn read nothing.

[2014-10-12 13:29] ilovenwd commented on #2272
you can compare the chunked code with non-chunked code https://github.com/kennethreitz/requests/blob/master/requests/packages/urllib3/connectionpool.py#L566
by default, it didn't release the conn (by default), so maybe we should not release low_conn in chunked case, but I'm not sure, since I'm not familiar with requests code base.

[2014-10-12 13:38] sigmavirus24 commented on #2272
Right so the solution is to not use the same session. This is the same recommendation we make in the case of threading. We never want to preload the content into memory immediately. If we do it unconditionally that will have some very real memory problems for users.

[2014-10-12 17:11] squareproton opened #2275 "Content-Length header not checked by requests if not enough data is sent"
This is a feature request.

In our application we've noticed ~ 1 in 2500 GET requests is truncated early. The HTTP responses are typically 20K-2MB. This is certainly caused by network issues or dodgy HTTP servers and isn't a requests problem. By default requests 2.3.0 doesn't give any indication if the response body has a length smaller than the 'Content-Length' header indicated. The response obje

[2014-10-12 17:41] sigmavirus24 commented on #2275
Hi @squareproton

Let me start off by saying that we've had this requested in the past (see: #1938) so you would do well to read that discussion to understand why we will not ever add content-length checking to requests. (This is also vaguely related to #2255 and https://github.com/sigmavirus24/requests-toolbelt/issues/41.)

If you read the thread that resulted from the last time this was suggeste

[2014-10-12 17:42] Lukasa commented on #2275
For that matter, it was my belief that short bodies threw an IncompleteRead error.

[2014-10-12 18:18] sigmavirus24 commented on #2275
@Lukasa I was under the same impression frankly

[2014-10-12 23:58] mikecool1000 commented on #1956
Hey guys, while working on this issue, i found:

[code]

in the Session.send definition. I'm wondering if it would be better to not always call resolve redirects, and instead to choose to execute or not based upon whether or not allow_redirects is true. For example replace this code block with:

[code]

unless I'm mistaken(which is quite possible), this would avoid unnecessary computation

[2014-10-13 00:23] mikecool1000 commented on #1956
here is my first attempt at fixing this, no idea how good it is https://github.com/mikecool1000/requests/blob/fix-%231956/requests/sessions.py

[2014-10-13 01:57] shazow commented on #2272
Let me know if I can still be of help, sounds like you figured it out.

[2014-10-13 02:14] sigmavirus24 commented on #1956
@mikecool1000 how familiar are you with generators? You should try this out at the interpreter:

[code]

When you run `g = s.resolve_redirects(r, r.request)` note that it will return immediately. It doesn't talk to the network until you start to consume the generator. There's no unnecessary computation at all :)

[2014-10-13 06:05] mikecool1000 commented on #1956
i figured it was something like that, but ive had no experience with generators in the past, sorry for being such a bad coder lol

[2014-10-13 15:41] squareproton commented on #2275
Thanks for your responses. #1938 has convinced me, a Content-Length check doesn't belong in requests, and the check I'm currently doing in the application is broken.

I've got test cases for the missing IncompleteRead error and the silent truncation of the request bodies.

**IncompleteRead error**

nodejs server 0.10.31 on Ubuntu server 12.04 LTS

[code]

Making a request with curl

[code]

In pyt

[2014-10-13 17:31] erickt opened #2280 "Requests is not properly escaping cookies"
Requests does not appear to be escaping cookies appropriately, which triggers this bug:

[code]

According to the RFC 2109 spec, cookies with reserved characters like `;` should be escaped with quotes. Here are the relevant definitions from that spec:

[code]
If I read requests source correctly, I believe this may actually be a bug in the upstream `cookiejar` code, which doesn't appear to escape c

[2014-10-13 17:57] sigmavirus24 commented on #2280
If you tracked it upstream to the standard library, why did you open a bug here? Did you also open a bug [upstream](https://bugs.python.org)?

[2014-10-13 18:07] sigmavirus24 commented on #1956
No one called you a bad coder @mikecool1000 and you don't need to apologize for not having had prior experience with generators

[2014-10-13 18:58] mikecool1000 commented on #1956
Thanks for helping me learn then :)

Sent from my iPhone

[2014-10-14 08:01] ilovenwd commented on #2272
Maybe I should use the diff session per greenlet solution. Thanks for the explanation.
However, I wish requests doc could have sth regards this case with gevents.

[2014-10-14 14:46] kennethreitz commented on #1869
I don't see how this is unuseful.

[2014-10-14 15:17] sigmavirus24 commented on #1869
You baffle me

[2014-10-15 03:41] erickt commented on #2280
I wasn't completely positive if it was an upstream bug, so I wanted to
check in with you first. cookielib doesn't really to be friendly to using
it to prepare cookies, so I could see them aguing that requests should be
using Cookie/http.cookies instead.

The main reason why I filed this here though is that unfortunately my
application needs to be compatible with any Python 2.6 or above. So even if

[2014-10-15 13:12] ghost opened #2284 "bugs on HTTP-request nested json."
I think, there's a bug on serializing a nested json.
for example, the following payload
{'username': 'bambang', 'device_info': {'os_version': '9.3.1', 'model': 'samsung', 'os_name': 'android'}}

would be serialized as:
"username=bambang&device_info=os_version&device_info=model&device_info=os_name"

however, sending the same json via ajax-javascript, would be serialized as:
username=bambang&device_